<?php

/**
* @version 2.1.1
* @package cleanlogic
* @copyright (C) 2012 by Robin Jungermann
* @license Released under the terms of the GNU General Public License
**/

header("content-type: text/css");

include_once("hsv_color.php");

$templateUrl = str_replace('_','/',$_GET['templateurl']);

echo "/* --------------- ".$templateUrl." ------------- */";


$hexTable ='/[^a-zA-Z0-9]/'; 

$base_color = 			"#".preg_replace ($hexTable,'',$_GET['base_color']); // base color from template settings
$accent_color = 		"#".preg_replace ($hexTable,'',$_GET['accent_color']); // accent color from template settings
$text_color = 			"#".preg_replace ($hexTable,'',$_GET['text_color']); // text color from template settings
$menu_text_color = 		"#".preg_replace ($hexTable,'',$_GET['menu_text_color']); // menu-text color from template settings
$button_text_color = 	"#".preg_replace ($hexTable,'',$_GET['button_text_color']); // menu-text color from template settings

$bg_style = $_GET['bg_style']; // background style from template settings

echo "/* BG: ".$bg_style."*/";



/* DEFINITION OF THE COLORS & SHADES */

$baseColor = 			$base_color;
$baseColorRGB = 		hex2rgb($base_color);
$accentColor = 			$accent_color;
$textColor = 			$text_color;
$menuTextColor = 		$menu_text_color;
$buttonTextColor = 		$button_text_color;

$bodyGradientLight = 		ct_hsvLuminance($base_color, 0.15);
$bodyGradientLightIE = 		ct_hsvLuminance($base_color, 0.2);
$bodyGradientDark = 		ct_hsvLuminance($base_color, -0.025);

$darkboxGradientLight = 	ct_hsvLuminance($base_color, -0.02);
$darkboxGradientDark = 		ct_hsvLuminance($base_color, -0.06);

$lightboxGradientLight = 	ct_hsvLuminance($base_color, 0.081);
$lightboxGradientDark = 	ct_hsvLuminance($base_color, 0.025);

$headerGradientLight = 		ct_hsvLuminance($base_color, 0.15);
$headerGradientLightMenu = 	ct_hsvLuminance($base_color, 0.05);
$headerGradientDark = 		$base_color;
$headerBorderLight = 		ct_hsvLuminance($base_color, 0.15);
$headerBorderDark = 		ct_hsvLuminance($base_color, -0.1);

$accentGradientLight = 		$accent_color;
$accentGradientDark = 		ct_hsvLuminance($accent_color, -0.2);
$accentBorderLight = 		ct_hsvLuminance($accent_color, 0.05);
$accentBorderDark = 		ct_hsvLuminance($accent_color, -0.1);

$inputColorLight =			ct_hsvLuminance($baseColor, 0.12);
$inputColorDark	=			ct_hsvLuminance($baseColor, -0.1);

$tableRow0RGB = 			hex2rgb($baseColor);
$tabelHeaderBG = 			ct_hsvLuminance($base_color, 0.1);
$tabelRowEvenBG = 			ct_hsvLuminance($base_color, 0.05);
$tabelRowOddBG= 			ct_hsvLuminance($base_color, 0.025);


echo("
@charset "utf-8";
/* CSS Document */

.pane-sliders div.panel img,
.contact-image > img {
	 behavior: none !important;
}

.pane-sliders div.panel input[type="text"],
.pane-sliders div.panel input[type="password"],
.pane-sliders div.panel input[type="email"],
.pane-sliders div.panel textarea,
.pane-sliders div.panel button
 {
  behavior: none !important;
}

.pane-sliders div.panel input[type="text"],
.pane-sliders div.panel input[type="password"],
.pane-sliders div.panel input[type="email"],
.pane-sliders div.panel textarea {
  border: none;
}

ul.menu,
.ct_menu_horizontal ul.menu li:first-child a, 
.ct_menu_horizontal ul.menu li:first-child .separator,
.ct_menu_vertical ul.menu li:first-child a, 
.ct_menu_vertical ul.menu li:first-child .separator,
.ct_menu_horizontal ul.menu li:last-child a, 
.ct_menu_horizontal ul.menu li:last-child .separator,
.ct_menu_vertical ul.menu li:last-child a, 
.ct_menu_vertical ul.menu li:last-child .separator,
ul.menu ul
 {	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


.row > div {
	margin-right: 1.56%;
}

ul.menu li > a,
ul.menu li > span,
ul.menu li ul li > a,
ul.menu li ul li > span,
ul.menu li ul li ul li > a,
ul.menu li ul li ul li > span {
	background: none;
}

ul.menu li:hover > a,
ul.menu li:hover > span,
ul.menu li.current > a,
ul.menu li.current > span, 
ul.menu li.active > a,
ul.menu li.active > span,
ul.menu li ul li:hover > a,
ul.menu li ul li:hover > span,
ul.menu li ul li.current > a, 
ul.menu li ul li.current > span, 
ul.menu li ul li.active > a,
ul.menu li ul li.active > span,

ul.menu li ul li ul li:hover > a,
ul.menu li ul li ul li:hover > span,
ul.menu li ul li ul li.current > a, 
ul.menu li ul li ul li.current > span, 
ul.menu li ul li ul li.active > a,
ul.menu li ul li ul li.active > span,
ul.autocompleter-choices li.autocompleter-selected { 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='".$accentGradientLight."', endColorstr='".$accentGradientDark."',GradientType=0 );
}
");

?>