/*
	# mod_sp_fbevent - Facebook event Module by JoomShaper.com
	# ------------------------------------------------------------------------
	# Author    JoomShaper http://www.joomshaper.com
	# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
	# License - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
	# Websites: http://www.joomshaper.com
*/
span.sp-fb-event-host{float:left}
span.sp-fb-event-going{float:right}
.sp-fb-event-time-place span{display:block;padding-left:12px}
.sp-fb-event-time-place span.sp-fb-event-time{background:url(../images/icon-clock.png) no-repeat 0 4px}
.sp-fb-event-time-place span.sp-fb-event-place{background:url(../images/icon-place.png) no-repeat 0 4px}
.sp-fb-event-desc-wrapper span{margin-bottom:10px}
.sp-fb-event-desc-wrapper{border:1px solid #f5f5f5;margin:10px 0 20px;padding:5px 10px}
img.sp-fb-event-logo{float:left;margin:0 5px 5px 0}
.sp-fb-event-feed{overflow:auto}
.sp-fb-event-feed img{float:left;border-radius:4px}
.sp-fb-event-desc{margin-left:60px}
.sp-fb-event-feed-text{margin-left:70px;border:1px solid #f5f5f5;border-radius:4px;position:relative;padding:5px 10px}
.sp-fb-event-feed-text:before{left:-16px;border:solid transparent;content:" ";height:0;width:0;position:absolute;top:50%;margin-top:-20px;border-right-color:#f5f5f5;border-width:8px}
p.sp-fb-event-feed-msg{margin:0}
.sp-fb-event-feed ul{list-style:none;margin:0;padding:0}
.sp-fb-event-feed ul li{display:block;background:none;margin:0 0 10px;padding:0}
.sp-fb-event-feed ul li li{background:#F5F5F5;position:relative;border-radius:4px;margin:0 0 5px 10px;padding:5px}
.sp-fb-event-feed ul li li:before{left:10px;border:solid transparent;content:" ";height:0;width:0;position:absolute;top:-16px;border-bottom-color:#f5f5f5;border-width:8px}
.sp-fb-event-feedul li a.sp-fb-comment-user{display:block;font-weight:600}
.sp-fb-event-feed ul li a{text-decoration:none}
.sp-fb-event-feed ul li span.fb-like{display:block;background:url(../images/like-small.png) no-repeat 0 0;font-size:11px;color:#999;padding:2px 15px}