/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
body {
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
	padding: 0;
	margin: 10px 0;
}
p:first-child,
blockquote:first-child,
form:first-child,
dl:first-child,
ul:first-child,
ol:first-child,
fieldset:first-child,
address:first-child,
table:first-child {
	margin-top: 5px;
}
p:last-child,
blockquote:last-child,
form:last-child,
dl:last-child,
ul:last-child,
ol:last-child,
fieldset:last-child,
address:last-child,
table:last-child {
	margin-bottom: 5px;
}
fieldset {
	padding: 10px;
}
small {
	font-size: .85em;
}
sup {
	bottom: 0.3em;
	font-size: .8em;
	position: relative;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}
pre {
	padding: 1em;
	background: #FFFFD5;
	border-left: 5px solid #404040;
	font-family: "Courier New",Courier,monospace;
}
blockquote {
	color: #404040;
	min-height: 45px;
	font-style: italic;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	color: #3C7191;
	font-size: 1.6em;
}
h2 {
	color: #80A138;
	font-size: 1.5em;
}
h3 {
	color: #C43654;
	font-size: 1.4em;
}
h4 {
	color: #D67527;
	font-size: 1.3em;
}
h5 {
	color: #A063AF;
}
h6 {
	color: #3B8B8C;
}
h5, h6 {
	font-size: 1.1em;
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	font-weight: normal;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	padding: 0;
	margin: 0.3em 0 0.3em 1.6em;
}
ol li {
	padding: 0;
	margin: 0.3em 0 0.3em 2em;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
.clearafter {
	display: inline-block;
}
html[xmlns] .clearafter {
	display: block;
}
* html .clearafter {
	height: 1%;
}
.clearbreak {
	clear: both;
}
div.jsn-modulecontainer {
	margin-top: 15px;
}
div.jsn-modulecontainer:first-child,
div.jsn-horizontallayout div.jsn-modulecontainer {
	margin-top: 0;
}
div.jsn-modulescontainer2 div.jsn-modulecontainer {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 div.jsn-modulecontainer {
	float: left;
	width: 33.3%;
}
div.jsn-modulescontainer4 div.jsn-modulecontainer {
	float: left;
	width: 24.975%;
}
div.jsn-modulescontainer5 div.jsn-modulecontainer {
	float: left;
	width: 19.98%;
}
div.jsn-modulescontainer6 div.jsn-modulecontainer {
	float: left;
	width: 16.65%;
}
div.jsn-modulescontainer2 #jsn-pos-user1,
div.jsn-modulescontainer2 #jsn-pos-user2,
div.jsn-modulescontainer2 #jsn-pos-user3,
div.jsn-modulescontainer2 #jsn-pos-user4,
div.jsn-modulescontainer2 #jsn-pos-user5,
div.jsn-modulescontainer2 #jsn-pos-user6,
div.jsn-modulescontainer2 #jsn-pos-user7 {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 #jsn-pos-user5,
div.jsn-modulescontainer3 #jsn-pos-user6,
div.jsn-modulescontainer3 #jsn-pos-user7 {
	float: left;
	width: 33.3%;
}
#jsn-promo,
#jsn-content-top,
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-mainbody-content,
#jsn-usermodules2,
#jsn-content-bottom,
#jsn-usermodules3,
#jsn-pos-user-bottom {
	margin-bottom: 15px;
	padding: 5px;
	background: #fff url(../images/backgrounds/bg-module.png) left bottom repeat-x;
	border: none;
}
#jsn-promo div.jsn-modulecontainer_inner,
#jsn-content-top div.jsn-modulecontainer_inner,
#jsn-content-bottom div.jsn-modulecontainer_inner,
#jsn-pos-user-top div.jsn-modulecontainer_inner,
#jsn-pos-user-bottom div.jsn-modulecontainer_inner,
#jsn-usermodules1 div.jsn-modulecontainer_inner,
#jsn-usermodules2 div.jsn-modulecontainer_inner,
#jsn-usermodules3 div.jsn-modulecontainer_inner {
	margin: 10px;
}
#jsn-promo div.jsn-modulecontainer,
#jsn-content-top div.jsn-modulecontainer,
#jsn-content-bottom div.jsn-modulecontainer,
#jsn-pos-user-top div.jsn-modulecontainer,
#jsn-pos-user-bottom div.jsn-modulecontainer {
	padding: 0;
}
#jsn-usermodules1 div.jsn-modulecontainer,
#jsn-usermodules2 div.jsn-modulecontainer,
#jsn-usermodules3 div.jsn-modulecontainer {
	float: none;
	width: auto;
	padding: 0;
	margin-top: 15px;
}
#jsn-usermodules1 div.jsn-modulecontainer:first-child,
#jsn-usermodules2 div.jsn-modulecontainer:first-child,
#jsn-usermodules3 div.jsn-modulecontainer:first-child {
	margin-top: 0;
}
#jsn-mainbody-content {
	position: relative;
	padding: 0;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background: #eee;
}
#jsn-page {
	color: #000;
	width: 960px;
	margin: 0 auto;
}
/* ----- STICKLEFT / STICKRIGHT ----- */
div[id*=jsn-pos-stick-] {
	position: fixed;
	z-index: 888888;
}
div[id*=jsn-pos-stick-left] {
	left: 0;
}
div[id*=jsn-pos-stick-right] {
	right: 0;
}
#jsn-pos-stick-leftmiddle,
#jsn-pos-stick-rightmiddle {
	visibility: hidden;
}
#jsn-pos-stick-leftbottom,
#jsn-pos-stick-rightbottom {
	bottom: 0;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-logo {
	float: left;
}
#jsn-logo a {
	line-height: 100%;
	display: inline-block;
}
#jsn-headerright {
	padding: 15px 0;
}
#jsn-headerright #jsn-pos-top {
	float: right;
}
#jsn-pos-top form {
	margin: 0;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: left;
	margin: 0 0 0 20px;
}
#jsn-pos-top div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	z-index: 89;
	position: relative;
	margin-bottom: 15px;
}
#jsn-pos-mainmenu {
	float: left;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-pos-toolbar div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}
#jsn-pos-toolbar form {
	margin: 0;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top {
	z-index: 88;
	position: relative;
}
#jsn-content-top #jsn-promo,
#jsn-promo #jsn-pos-promo,
#jsn-promo #jsn-pos-promo-left,
#jsn-promo #jsn-pos-promo-right {
	position: relative;
}
#jsn-pos-promo .jsn-modulecontainer p {
	margin: 0;
}
#jsn-pos-promo-left div.jsn-modulecontainer_inner,
#jsn-pos-promo-right div.jsn-modulecontainer_inner {
	background: url(../images/backgrounds/bg-module.png) left bottom repeat-x #fff;
}
#jsn-pos-promo-left h3.jsn-moduletitle,
#jsn-pos-promo-right h3.jsn-moduletitle {
	border-bottom: 1px solid #E5E5E5;
    padding: 10px;
	background: url(../images/backgrounds/bg-module.png) left bottom repeat-x #fff;
}
#jsn-pos-promo-left div.jsn-modulecontent,
#jsn-pos-promo-right div.jsn-modulecontent {
	padding: 10px;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content,
#jsn-content_inner,
#jsn-maincontent,
#jsn-centercol,
#jsn-pos-innerleft,
#jsn-pos-innerright,
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	position: relative;
}
#jsn-content {
	z-index: 88;
	overflow: hidden;
}
div.jsn-hasleft #jsn-maincontent_inner {
	margin-left: 10px;
}
div.jsn-hasright #jsn-maincontent_inner {
	margin-right: 10px;
}
#mainbody-content-inner1, #mainbody-content-inner2, #mainbody-content-inner3, #mainbody-content-inner4 {
	position: relative;
}
#mainbody-content-inner4 {
}
div.jsn-hasinnerleft #mainbody-content-inner1 {
	border-right: 1px solid #dfdfdf;
}
div.jsn-hasinnerleft #mainbody-content-inner4 {
}
div.jsn-hasinnerright #mainbody-content-inner1 {
	border-right: 1px solid #dfdfdf;
}
div.jsn-hasinnerright #mainbody-content-inner4 {
}
#jsn-pos-innerright #jsn-pos-innerright_inner {
	padding: 15px;
}
#jsn-pos-innerleft #jsn-pos-innerleft_inner {
	padding: 15px;
}
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	z-index: 87;
	margin-bottom: 15px;
}
#jsn-centercol_inner {
	padding: 0 1px;
}
#jsn-mainbody {
	padding: 15px;
}
#jsn-pos-banner {
	text-align: center;
	margin-bottom: 15px;
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	z-index: 88;
	position: relative;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	color: #595959;
	font-size: 0.9em;
	background: url(../images/backgrounds/bg-footer.png) repeat-x left top;
}
#jsn-footermodules {
	padding: 5px;
	margin: 0 -15px;
}
#jsn-footer a {
	text-decoration: none;
}
#jsn-footer a:hover {
	text-decoration: underline;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-pos-footer {
	float: left;
	width: 49.95%;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-pos-bottom {
	float: right;
	width: 49.95%;
}
#jsn-footer div.jsn-modulecontainer_inner {
	margin: 10px;
}
#jsn-brand {
	padding-top: 10px;
}
#jsn-brand a {
	display: block;
	width: 100px;
	height: 20px;
	margin: 0 auto;
	text-indent: -999px;
	overflow: hidden;
	background: url(../images/logo-footer-dark.png) left center no-repeat;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.align-right {
	float: right;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.content-left {
	text-align: left;
}
.content-center {
	text-align: center;
}
.content-right {
	text-align: right;	
}
/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout2 div.grid-col {
	float: left;
	width: 49.95%;
}
div.grid-layout3 div.grid-col {
	float: left;
	width: 33.3%;
}
div.grid-layout4 div.grid-col {
	float: left;
	width: 24.96%;
}
div.grid-layout5 div.grid-col {
	float: left;
	width: 19.98%;
}
div.grid-layout6 div.grid-col {
	float: left;
	width: 16.65%;
}
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 10px;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-right: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	padding: .8em;
	border: 1px solid #e5e5e5;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	border-color: #fff;
	background-color: #fafafa;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap p:first-child:first-letter,
p.text-dropcap:first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	border: none;
	padding: 0.5em 0;
	background: url(../images/dot.png) left center repeat-x;
}
hr.line-solid {}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	padding: 1px 2px;
	text-decoration: none;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	color: #000;
	border-color: #d9d9d9;
	text-decoration: none;
	background-color: #f2f2f2;
}
/* ----- TOOLTIPS LINK ----- */
a.link-tooltip {
	position: relative;
}
a.link-tooltip:hover {
	z-index: 25;
}
a.link-tooltip span {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
a.link-tooltip:hover span {
	display: block;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
	position: relative;
	display: block;
}
ul.list-arrow li:after {
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 0.34em solid transparent;
	left: 5px;
	top: 4px;
}
ul.list-arrow.arrow-red li:after {
	border-left-color: #AE0000;
}
ul.list-arrow.arrow-blue li:after {
	border-left-color:#0060BF;
}
ul.list-arrow.arrow-green li:after {
	border-left-color:#8f9f34;
}
ul.list-arrow.arrow-orange li:after {
	border-left-color: #E2712D;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	padding: 3px;
	border: 1px solid #e5e5e5;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	font-size: 0.8em;
	font-weight: normal;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	clear: both;
}
div.jsn-modulecontainer ul.menu-mainmenu li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-mainmenu > li {
	border-right: 1px solid #404040;
}
div.jsn-modulecontainer ul.menu-mainmenu li a {
	display: block;
	cursor: pointer;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	padding: 10px 20px;
	font-size: 1.2em;
}
div.jsn-modulecontainer ul.menu-mainmenu li > a > span {
	display: block;
}
div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	display: none;
	padding-top: 2px;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu > li > a span.jsn-menutitle {
	line-height: 16px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a {
	padding: 10px 15px;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	margin: 0;
	padding: 0;
	width: 185px;
	left: -999em;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li {
	border: none;
	width: 185px;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	font-size: 1em;
	padding: 8px 10px;
	background: none;
}
div.jsn-modulecontainer ul.menu-mainmenu ul ul {
	top: 0;
	margin-left: 184px;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	color: #fff;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a {
	background: url(../images/backgrounds/bg-mainmenu-active.png) repeat 0 0;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #fff;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
	background: url(../images/backgrounds/bg-mainmenu-active.png) repeat 0 0;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	left: auto;
	right: auto;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-treemenu,
div.jsn-modulecontainer ul.menu-treemenu ul {
	margin: -10px;
	padding: 0;
	list-style: none;
}
div.jsn-modulecontainer ul.menu-treemenu ul {
	margin: 0;
}
div.jsn-modulecontainer ul.menu-treemenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
div.jsn-modulecontainer ul.menu-treemenu > li {
	padding: 0;
	border-bottom: 1px solid #E5E5E5;
}
div.jsn-modulecontainer ul.menu-treemenu li a {
	padding: 6px 10px;
	display: block;
	color: #404040;
	cursor: pointer;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-treemenu > li > a {
	padding: 10px;
}
div[class*="richbox-"] ul.menu-treemenu li a {
	color: #404040;
}
ul.menu-treemenu li a span {
	display: block;
}
ul.menu-treemenu li > a > span {
	padding-left: 20px;
	background: url(../images/icons/icons-base.png) left -343px no-repeat;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	display: none;
	font-size: 1em;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	color: #595959;
	display: block;
}
div[class*="richbox-"] ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	color: #B8B8B8;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu > li a:hover span.jsn-menudescription,
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu > li a.curent span.jsn-menudescription {
	color: #eee;
}
/* ---------- NORMAL STATE ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li {
	margin-left: 0;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	padding-left: 20px;
	border-top: 1px solid #fafafa;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul li a {
	padding-left: 40px;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a:hover {
	background: #ddd;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active > a {
	font-weight: bold;
}
/* ----- CURRENT / HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active ul a,
div.jsn-modulecontainer ul.menu-treemenu li.active li.active li.active li.active ul a {
	font-weight: normal;
}
div.solid-1 ul.menu-treemenu li a:hover,
div.solid-1 ul.menu-treemenu li a.current {
	background-color: #FAFACF;
}
div.solid-2 ul.menu-treemenu li a:hover,
div.solid-2 ul.menu-treemenu li a.current {
	background-color: #E7FACF;
}
div.richbox-1 ul.menu-treemenu li a:hover,
div.richbox-1 ul.menu-treemenu li a.current {
	color: #fff;
}
div.richbox-2 ul.menu-treemenu li a:hover,
div.richbox-2 ul.menu-treemenu li a.current {
	color: #fff;
}
div.lightbox-1 ul.menu-treemenu li a:hover,
div.lightbox-1 ul.menu-treemenu li a.current {
	background-color: #FDFDFD;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
ul.menu-divmenu:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
ul.menu-divmenu li {
	margin: 0;
	padding: 0 0.8em;
	float: left;
	display: inline;
	border-right: 1px solid #666666;
}
ul.menu-divmenu li.first {
	padding-left: 0;
}
ul.menu-divmenu li.last {
	border-right-width: 0;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin: 8px 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	margin: 0;
	padding: 0 5px;
	display: inline-block;
}
ul.menu-topmenu li a {
	padding: 0;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	display: block;
}
ul.menu-topmenu li a:hover {
	text-decoration: underline;
}
ul.menu-topmenu li a span {
	display: block;
}
/* ============================== MODULE STYLES ============================== */
h3.jsn-moduletitle {
	margin-top: 0;
	color: #474747;
	font-size: 1.2em;
}
h3.jsn-moduletitle span {
	display: block;
}
h3.jsn-moduletitle span.jsn-moduleicon {
	line-height: 16px;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- GENERAL MODULE STYLES ----- */
div[class*=solid-] div.jsn-modulecontainer_inner,
div[class*=box-] div.jsn-modulecontainer_inner {
	background: url(../images/backgrounds/bg-module.png) left bottom repeat-x #fff;
}
div[class*=solid-] div.jsn-modulecontainer_inner {
	padding: 15px 10px
}
/* ----- CUSTOM BOX STYLE IN SPECIFIC POSITION ----- */
div[class*="box-"] h3.jsn-moduletitle {
    padding: 12px 10px;
    margin: 0;
}
div[class*="box-"] div.jsn-modulecontent {
	padding: 10px;
}
/* =============== MODULE STYLES - MODULE RICHBOX =============== */
/* ----- RICHBOX-1 ----- */
div.richbox-1 h3.jsn-moduletitle {
	background: url(../images/backgrounds/bg-title-richbox-1.png) left bottom repeat-x #D2D2D5;
}
/* ----- RICHBOX-2 ----- */
div.richbox-2 h3.jsn-moduletitle {
	color: #fff;
}
/* =============== MODULE STYLES - MODULE LIGHTBOX =============== */
/* ----- LIGHTBOX-1 ----- */
div.lightbox-1 h3.jsn-moduletitle {
	background:#fff url(../images/backgrounds/bg-module.png) left bottom repeat-x;
	border-bottom: 1px solid #E5E5E5;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== PAGEBREAK - TABS STYLE =============== */
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
}
dl.tabs dt.tabs h3 a {
	color: #666;
	font-weight: normal;
}
dl.tabs dt.open h3 a,
dl.tabs dt.tabs h3 a:hover {
	color: #000;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	font-weight: bold;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}
/* =============== PAGEBREAK - SLIDERS STYLE =============== */
div.pane-sliders div.panel {
	margin-top: -1px;
	background-color: #F0F0F0;
	border-bottom: 1px solid #CCC;
}
div.pane-sliders div.panel h3.title {
	margin: 0;
	cursor: pointer;
	font-size: 1.1em;
	padding: 4px 10px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
div.pane-sliders div.panel h3.pane-toggler-down {
	border-bottom: 1px solid #CCC;
}
div.pane-sliders div.panel h3.title a {
	color: #666;
	font-weight: normal;
}
div.pane-sliders div.panel h3.pane-toggler-down a {
	font-weight: bold;
}
div.pane-sliders div.panel h3.title a:hover,
div.pane-sliders div.panel h3.pane-toggler-down a {
	color: #000;
	text-decoration: none;
}
div.pane-sliders div.panel div.pane-slider {
	padding: 4px 10px;
	background-color: #FFF;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading,
.subheading {
	margin: 0 0 10px 0;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: normal;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
.inputbox {
	border: 1px solid #d0d0d0;
	background-color: #fafafa;
	padding: 2px 4px;
	min-height: 22px;
}
.inputbox:active, .inputbox:focus {
	border-color: #b5b5b5;
	background-color: #f2f2f2;
}
select.inputbox {
	padding: 2px;
}
.button {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin: 0 0 2px;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	vertical-align: middle;
	cursor: pointer;
	background-color: #999;
}
.button:hover, .button:active {
	background-color: #777;
	color: #fff;
}
/* ----- TOOLTIPS ----- */
.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 88;
	position: relative;
}
.tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.tip-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin-bottom: 15px;
}
.jsn-article-metadata > span {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.jsn-article-metadata > span:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	position: relative;
	margin-bottom: 15px;
	background-color: #f4f4f4;
}
.jsn-article-toolbar dl {
	padding: 5px;
}
#article-index {
    float: right;
    margin: 0 0 1em 1em;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
}
#article-index ul {
	margin: 0;
	list-style-type: none;
}
#article-index ul li {
	margin: 0;
	padding: 0.25em 0.6em;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 10px;
}
.jsn-article-info p:first-child {
	margin-top: 0;
}
.jsn-article-info p:last-child {
	margin-bottom: 0;
}
.author,
.createdate,
.publishdate,
.hits {
	margin: 10px 0;
	color: #595959;
	font-size: 0.9em;
}
.author,
.createdate,
.publishdate {
	padding-left: 22px;
}
.author {
	background: url(../images/icons/icons-base.png) no-repeat 0 0;
}
.createdate,
.publishdate {
	background: url(../images/icons/icons-base.png) no-repeat 0 -86px;
}
.modifydate {
	margin: 1em 0;
	text-align: right;
	color: #999999;
	font-style: italic;
}
/* ----- 2 BUTTON PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	margin: 10px;
	float: right;
	list-style: none;
}
ul.jsn-article-tools li {
	float: left;
	margin: 0 2px 0 12px;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li a.no-icon {
	background: none;
	width: auto;
	height: auto;
}
ul.jsn-article-tools li.jsn-article-icon-edit a {
	background: none;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
.jsn-article-submit {
	margin-top: 0.8em;
}
.item-title-entry .icon-edit {
	display: inline-block;
}
/* ----- SUBMIT AN ARTICLE ----- */
.field-title {
	width: 120px;
	float: left;
}
.formelm, .formelm-area {
	margin: 5px 0;
	clear: both;
}
/* ----- READ MORE ----- */
a.readon {
	color: #474747;
	cursor: pointer;
	font-size: 1.1em;
	padding: 5px 12px;
	font-weight: bold;
	border: #999 1px solid;
	display: inline-block;
	text-decoration: none;
	background: #D8D8D8 url(../images/backgrounds/bg-link-button.png) 0 0 repeat-x;
}
a.readon:hover {
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
div.article_separator {
	height: 1em;
	clear: both;
}
div.row_separator {
	height: 1em;
	clear: both;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	padding: 10px 15px;
	margin: 0 0 1em 0;
	border: 1px solid #e5e5e5;
	background-color: #F4F4F4;
}
/* PAGE PAGINATION */
ul.pagenav,
div.pagination ul {
	list-style-type: none;
}
ul.pagenav {
	text-align: center;
}
ul.pagenav li,
div.pagination ul li {
	color: #999;
	margin: 0;
	display: inline;
	font-weight: bold;
}
div.pagination ul li {
	font-size: 0.9em;
}
ul.pagenav li a,
div.pagination ul li a {
	margin: 0 15px;
}
ul.jsn-pagination {
	list-style-type: none;
	text-transform: uppercase;
}
ul.jsn-pagination li {
	display: inline-block !important;/*override compression*/
	margin: 10px 2px;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 3px 8px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #999;
}
ul.jsn-pagination li span {
	background-color: transparent;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 4px 9px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	font-size: 0.9em;
	text-align: center;
	margin: 20px 0 10px 0;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.contentdescription {
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 5px 8px;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
}
.sectiontableheader img {
	margin: 0;
	vertical-align: text-top;
}
.sectiontableheader a {
	color: #eee;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	color: #fff;
	text-decoration: underline;
}
/* TABLE FILTER */
.jsn-infofilter {
	text-align: right;
	margin-bottom:10px;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW */
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 6px 8px;
	border-bottom: 1px solid #e5e5e5;
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- STANDARD CONTACT LAYOUT ----- */
div.com-contact .jsn-contact-image {
	float: right;
	margin: 10px 5px 0 0;
}
div.com-contact .contact-position {
	margin: 5px 0 0 0;
}
div.com-contact .contact-vcard {
	margin: 0 0 5px 0;
}
div.com-contact .jicons-icons {
	float: left;
}
div.com-contact .contact-address {
	margin-top: 5px;
}
div.com-contact .contact-address p {
	margin: 0;
	padding-left: 20px;
}
div.com-contact .contact-contactinfo p,
div.com-contact .contact-miscinfo p {
	margin: 5px 0;
}
div.com-contact .contact-contactinfo .jicons-icons,
div.com-contact .contact-miscinfo .jicons-icons {
	margin-right: 4px;
}
div.com-contact div.contact-form fieldset {
	padding: 0 10px;
}
div.com-contact div.contact-form dt {
	margin: 10px 0 5px 0;
}
div.com-contact div.contact-form dd {
	margin-left: 0;
}
div.com-contact .form-required {
	color: #EF593B;
	font-weight: bold;
	text-align: right;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label,
div.com-search #searchForm .search-keyword label,
div.com-search #searchForm .search-ordering label,
div.com-search #searchForm .search-field-title {
	width: 100px;
	line-height: 21px;
	text-align: left;
	padding-right: 3px;
	display: inline-block;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label {
	width: auto;
}
div.com-search #searchForm .search-ordering select {
	padding: 2px;
}
div.com-search #searchForm .search-range label {
	line-height: 21px;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_WEBLINK =============== */
table.jsn-infotable .description p {
	margin: 0;
}
table.jsn-infotable ul.actions {
	display: inline;
}
table.jsn-infotable ul.actions li {
	display: inline;
	margin: 0 0 0 5px;
}
#editor-xtd-buttons {
	float: left;
}
/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
div.com-newsfeed td.jsn-table-column-name {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
div.com-user div.default-login {
	width: 350px;
	margin: 0 auto;
	padding: 10px;
	background-color: #F4F4F4;
	border: 1px solid #E5E5E5;
}
/* ----- REGISTER FORM ----- */
.jsn-formRow {
	margin: 8px 0;
}
.jsn-formRow .jsn-formRow-lable {
	float: left;
	width: 170px;
}
/* =============== JOOMLA! EXTENSIONS - POPUP COMPONENT =============== */
#jsn-content-popup .com-content,
#jsn-content-popup #mailto-window {
	max-width: 1018px;
	margin: 1em auto;
}
#jsn-content-popup .com-content {
    padding-top: 0;
}
#mailto-window {
	padding: 15px;
	position: relative;
	background: #f5f5f5;
	border: solid 1px #ddd;
}
#mailto-window h2 {
	padding: 3px 0;
	margin: 0 0 10px;
	font: bold 1.2em "Times New Roman", Times, serif;
}
#mailto-window label {
	width: 8em;
	display: inline-block;
}
#mailto-window .mailto-close {
	right: 0;
	top: 5px;
	background: none;
	position: absolute;
}
#mailto-window .mailto-close a {
	display: block;
	min-width: 25px;
	min-height: 25px;
	overflow: visible;
	background: url(../images/icons/icon-close.png) 0 0 no-repeat;
}
#mailto-window .mailto-close a span {
	top: -3000px;
	left: -3000px;
	display: inline;
	position: absolute;
}
#mailto-window .inputbox {
	padding: 3px;
	border: 1px solid #ccc;
	background: #FFF url(../images/backgrounds/popup-bg.png) repeat-x 0 0;
}
#mailto-window p {
    margin: 20px 0 8px 0;
}
#mailto-window button {
	cursor: pointer;
	margin:0 5px 0 0;
	padding: 3px 10px;
	border: 1px solid #ccc;
	font: bold 1em "Times New Roman", Times, serif;
	background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);	
}
#mailto-window .formelm,
#mailto-window .formelm-area {
    clear: both;
    margin: 5px 0;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message {
	margin-bottom: 20px;
}
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #c3d2e5 url(../../../media/system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../../media/system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	color: #cc0000;
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	background: #efe7b8 url(../../../media/system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
#jsn-pos-breadcrumbs {
	padding: 0;
}
span.breadcrumbs {
	display: block;
	font-size: 0.9em;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #666;
	padding: 5px 25px 5px 15px;
	line-height: 30px;
    text-decoration: none;
	background: url(../images/backgrounds/bg-breadcrumbs.png) right 0 no-repeat;
    display: block;
    float: left;
    font-size: 1.2em;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	font-weight: bold;
	background: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
}
#form-login #form-login-username,
#form-login #form-login-password,
#form-login #form-login-remember {
	margin: 0 0 6px 0;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod-search-searchword {
	padding: 2px 0 2px 25px;
	background: #FFF url(../images/icons/icons-base.png) 5px -168px no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_NEWSFLASH =============== */
.jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}
.jsn-mod-newsflash .contentheading {
	margin: 0 0 0.3em 0;
}
.jsn-mod-newsflash .article-separator {
	display: block;
    height: 0.5em;
}
/* ============================== JOOMLA 1.7 CORE COMPONENT LAYOUT ============================== */
.article-info {
	margin: 10px 0;
	font-size: 0.9em;
}
.article-info-term {
	display: none;
}
.archive .article-info dd,
.article-info dd {
	margin: 2px 0 0;
	line-height: 1.5;
}
.categories-list ul {
	list-style-type: none;
}
.cat-children ul dl dt, 
.cat-children ul dl dd, 
dl.article-count dt, 
dl.article-count dd {
	display: inline;
}
.login-fields {
	margin: 10px 0;
}
.login-fields label {
	width: 9em;
	float: left;
}
.categories-list dl dt,
.categories-list dl dd {
	margin: 0;
	padding: 0;
	display: inline;
}
.img-fulltext-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
#jsn-promo,
#jsn-content-top,
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-mainbody-content,
#jsn-usermodules2,
#jsn-content-bottom,
#jsn-usermodules3,
#jsn-pos-user-bottom,
div[class*="box-"] div.jsn-modulecontainer_inner,
div[class*="solid-"] div.jsn-modulecontainer_inner,
div[class*="richbox-"] div.jsn-modulecontainer_inner,
div[class*="lightbox-"] div.jsn-modulecontainer_inner,
#jsn-pos-promo-left div.jsn-modulecontainer_inner,
#jsn-pos-promo-right div.jsn-modulecontainer_inner {
	border: 1px solid #dedede;
}