/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/

/* Hiperlink */
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}

/* Layout */
.item{float:left;position:relative}
.cols-1 .item{width:100%}
.cols-2 .item{width:50%}
.cols-3 .item{width:33.33%}
.cols-4 .item{width:25%}
.cols-5 .item{width:20%}
.item-inner { padding: 10px;}
.item .first {margin-left:-10px}
.item .last {margin-right:-10px}
.item .single {margin-left:-10px;margin-right:-10px}
span.item-separator,.item-separator{clear:both;display:block;background:url(../images/item-separator.png) no-repeat 50% 50%;min-height:20px;margin:20px 0}

/* Catrogy Blog Speaker */
.blog-speaker .itemInnerDiv {background:#f5f5f5;border:1px solid #F0F0F0;border-bottom:1px solid #D4D4D4;border-right:1px solid #D4D4D4;padding:10px;margin-bottom:20px}
.blog-speaker .itemInnerDiv:hover {-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);position:relative;cursor:pointer;z-index:1}
.blog-speaker .itemInnerDiv {-webkit-transition: all 300ms;-moz-transition: all 300ms}
.blog-speaker .img-intro-left{width:100%;float:none;margin:0 0 10px 0}
.blog-speaker .img-intro-left img{width:100%}
.blog-speaker .item-separator {display:none}
.blog-speaker .items-row {margin:0 -10px}
.blog-speaker .item .first {margin-left:0}
.blog-speaker .item .last {margin-right:0}
.blog-speaker h2 {font-size:160%}

/*Joomla Blog type Date*/
div.sp-blog-date{float:left;margin:0 10px 0 0}
.rtl div.sp-blog-date{float:right;margin:0 0 0 10px}
div.sp-blog-date {display:block;text-align: center;color:#fff;text-shadow: 0 1px rgba(0, 0, 0, .4);padding: 5px 10px}
div.sp-blog-date span.sp_date_day  {display: block;line-height: 100%;font-size: 16px;font-weight: 700;color: #fff}
div.sp-blog-date span.sp_month {font-family: Arial;font-size: 10px;text-transform: uppercase}
div.sp-blog-date span.sp_year {display:none}

/*Readmore*/
a.readmore, .comments{display:inline-block;font-weight:700;padding:4px 10px;margin:5px 10px 0 0}

/* Headings */
p,ul,ol,h3,h4,h5,h6{margin:0.7em 0;padding:0}
h1,h2,h3,h4,h5,h6,.componentheading{line-height:100%;font-family:"BebasNeueRegular",Arial,Helvetica,sans-serif}
h3 { font-size: 130%; font-weight:400 }
h4 { font-size: 110%; font-weight:400 }
h5 { font-size: 100%; font-weight:400 }
h6 { font-size: 90%; font-weight:400 }
h1,.componentheading{font-size: 250%;font-weight:400;line-height:normal;margin:0 0 20px;padding:0}
h2{font-size: 200%;font-weight:400;margin:0;padding:0 0 4pxt}

/* forms */
fieldset{border:medium none;margin:0;padding:5px 0}
fieldset dd{float:left;margin:0 0 10px}
fieldset dt{clear:both;float:left;margin:0 0 10px;min-width:140px}
form label{cursor:pointer}
fieldset a{font-weight:700}
legend{font-size:125%;font-weight:700;line-height:1.2}
form{display:inline;margin:0;padding:0}
	
input,select,textarea,.inputbox{background-color:#F9F9F9;background-repeat:no-repeat;background-position:95% 50%;border-color:#C1C1C1 #E1E1E1 #E1E1E1;border-right:1px solid #E1E1E1;border-style:solid;border-width:1px;color:#656565;font-family:Arial,Helvetica,sans-serif;padding:8px 12px}
input:hover,select:hover,textarea:hover,.inputbox:hover {background-color:#f0f0f0}

hr{background-color:#CCC;border:#CCC;color:#CCC;height:1px}

/* Button */
.adminform button,#adminForm button,.button,button[type=submit],input[type=submit],input[type=button]{cursor:pointer;text-align:center;font:bold 10px Arial, Helvetica, sans-serif;text-decoration:none;text-transform:uppercase;background:#fff;border:1px solid #e7e7e7;margin:0;padding:5px 9px}

/* misc */
small,.small,.smalldark,.button,.article-meta,.modifydate,.img_caption p,a.readmore,#breadcrumbs,.cp,.article-tools,.categories-list dl{font-size:92%;}

/* image */
img{margin:0;padding:0}
.img_caption{padding-right:0}
.img_caption p{color:#999;text-align:center}
.img_caption.left,.img_caption.right{}

/* Table */
.filter{margin:10px 0}
.display-limit,.filter{margin-right:7px;text-align:right}
span.number{color:#969696;font-style:italic}
table.contenttoc{float:right;margin:5px 10px;padding:5px}
table.contenttoc td{padding:0 5px}
#adminForm table thead tr,#adminForm table thead tr th{background:#222;color:#fff;text-align:left;border-bottom:1px solid #b4b4b4;font-weight:700;padding:5px 10px}
#adminForm table thead tr th a{color:#FFF}
.cat-list-row0 td,.cat-list-row1 td{border-bottom:1px dotted #DADADA;border-left:1px dotted #DADADA;padding:6px 10px}
.cat-list-row1 td{background:#FBFBFB}
.cat-list-row0:hover,.cat-list-row1:hover{background:none repeat scroll 0 0 #ccc}
.cat-list-row0 td:first-child,.cat-list-row1 td:first-child{border-left:medium none}
table.category th a img{padding:2px 10px}
.filter-search{float:left}
.filter-search .inputbox{width:6em}

table.weblinks,table.category{font-size:1em;width:99%;margin:10px 10px 20px 0}
table.weblinks td,table.category td{padding:7px}
table.weblinks th,table.category th{text-align:left;padding:7px}
td.num{text-align:left;vertical-align:top}
td.hits{text-align:center;vertical-align:top}
td p{line-height:1.3em;margin:0}
table,table.weblinks td{border-collapse:collapse}

/* Article Info */
.article-tools{color:#999;padding-bottom:5px;margin-top:3px;clear:both;display:block;}
dl.article-info{float:left;width:70%;padding:0;margin:0}
dd.create,dd.createdby,dd.createdate,dd.createdby,dd.section,dd.category{margin-right:8px;text-transform:capitalize;padding:2px 0 0 0 !important}
dd.modifydate{color:#999;}
ul.buttonheading{float:right;margin:0;padding:0}
ul.buttonheading li{background:none;display:inline;line-height:1;margin:0;padding:0}
ul.buttonheading li img{border:0 none;margin:0 5px 0 0}
dl.article-info dd,dl.article-info dt{display:inline;padding:0}

/* Pagination */
div.pagination{clear:both;min-height:1px;padding:5px 10px;margin:0;background:#f5f5f5;background:rgba(255,255,255,.3);border:1px solid #F9F9F9;border-bottom: 1px solid #D4D4D4;
border-right: 1px solid #D4D4D4}
div.pagination ul{text-align:left}
div.pagination ul li{cursor:pointer;display:inline;overflow:hidden;margin:0 5px 0 0;padding:0!important}
div.pagination ul li a{background:#f5f5f5;border:1px solid #e5e5e5;color:#666;font-weight:700;padding:5px 10px!important}
div.pagination ul li a:hover,div.pagination ul li.pagination-active a{text-decoration:none;background:#333;color:#fff;border:1px solid #0E0E0E}
div.pagination p.counter{float:right;margin:0;padding:8px 5px}

/*Page Navigation*/
ul.pagenav {}
ul.pagenav li {background:none;padding:0;margin:0}
ul.pagenav li.pagenav-prev {float:left}
ul.pagenav li.pagenav-next {float:right}

/* items more */
div.items-more {padding:0; margin:0 0 20px; }
div.items-more ul { padding: 0; margin:0}
div.categories-list ul li {margin-bottom:5px}
div.categories-list dt {float: left}
div.categories-list dd {text-indent: 4px}

div.categories-list ul li{background:none;padding-left:0}
div.categories-list dl.article-count dt,div.categories-list dl.article-count dd{display:inline}
div.categories-list dl.article-count dd{margin-left:0}
div.categories-list ul li ul{margin-left:10px}
div.categories-list ul li li{background:#F2F2F2;border-bottom:1px solid #CCC;padding:10px}
div.categories-list ul li li li{background:#DDD}
div.categories-list ul li li.last{border-bottom:0 none}

/* Contact */
.contact { padding:0 5px }
.contact-category { padding:0 10px }
.contact-category #adminForm fieldset.filters { border:0; padding:0 }
.contact-image { margin:10px 0; overflow:hidden; float: right; }
address { font-style:normal; margin:10px 0; }
span.contact-image { margin-bottom:10px; overflow:hidden; display:block }
.contact-address { margin:20px 0 10px 0; }
.contact-email div { padding:2px 0; margin:0 0 10px 0; }
.contact-email label { width:17em; float:left; }
#contact_textmsg { padding: 2px 0 10px 0 }
#contact-email-copy { float:left; margin-right:10px; }
.contact .button { float:none !important; clear:left; display:block; margin:0 }
#contact-slider{border:1px solid #e5e5e5;margin:10px 0 0}
#contact-slider .panel{margin:0!important;padding:0!important}
#contact-slider h3.pane-toggler,#contact-slider h3.pane-toggler-down{background-image:url(../images/accordion.png);background-repeat:repeat-x;cursor:pointer;display:block;line-height:30px;font-size:13px;font-weight:700;margin:0!important;padding:0 10px!important}
#contact-slider h3.pane-toggler{background-position:0 0}
#contact-slider h3.pane-toggler-down{background-position:0 -30px}
.pane-sliders div.panel div.pane-down{padding:10px!important}

/*contact form*/
.contact-info{float:left;width:40%}
.contact-info h3, .contactus-form h3{font-size:24px}
.contactus-form{float:right;width:55%}
.jicons-icons{width: 20px;padding-right: 15px;float: left}
.rtl .jicons-icons{width: 20px;padding-right: 15px;float: right}
.contactus-form{line-height: 25px;padding: 0px 0 0px 7px;margin: 1px;font-weight: normal}
.contactus-form label {line-height: 25px;padding: 0 0 0px 7px;margin: 3px 0 0 0;font-weight: normal}
address span{display:inline-block}
.contact-country{text-indent:-18px}
#jform_contact_emailmsg, #jform_contact_email, #jform_contact_name {width:320px}
#jform_contact_email_copy{float:right;margin-left:15px}
.rtl #jform_contact_email_copy{float:left;margin-left:15px}

/* User Profile */
div.mod-inner fieldset {padding:0!important}
.login  {margin:50px 250px 0 250px;text-align:center;padding:20px;padding-bottom:80px!important}
.login h1 {margin-top:-45px!important;margin-bottom:0!important}
.login form {text-align:left}
.login + div {position:absolute;margin:-80px 250px 0 250px;padding:0 20px}
.login + div ul li {background:none;padding:0}
.login fieldset,.remind fieldset,.reset fieldset,.registration fieldset,.profile-edit fieldset{padding:20px 0 0}
.login input#username,
.login input#password {width:350px}
.login-fields,.profile-edit dl,.remind dl,.reset dl,.registration dl dd{margin:0 0 10px}
.login label,.profile-edit dl dt,.remind dl dt,.reset dl dt,.registration dl dt{display:block;float:left;font-weight:700;text-align:left;width:150px}
.login .inputbox,.login input.required,.registration dl dd input.required,.remind dl dd input.required,.reset dl dd input.required,
.profile-edit .inputbox,.profile-edit input.required,.profile-edit input,.profile-edit select{}
.profile-edit button,.remind button,.reset button,.registration button{margin-left:150px}
ul.userlinks {margin-top:15px!important;padding: 0!important;}
ul.userlinks li{background:none!important;line-height:normal;padding:0 0 5px;border:0;padding-left:140px!important}
ul.userlinks li li:hover {background:none!important}
ul.userlinks a {font-size: 11px;}

/*Statistics*/
dl.stats-module dd{float:left;margin:0 0 10px}
dl.stats-module dt{clear:both;float:left;margin:0 0 10px;min-width:140px}

/*Search*/
form#searchForm{padding:15px 0}
.results h4{margin:15px 0 0}
.search fieldset{border:1px solid #ddd;margin:25px 0 15px;padding:10px}
.search fieldset legend{font-size:100%}
.search .word button{margin-left:5px}
.search .word .inputbox{vertical-align:top}
.search .word label{vertical-align:bottom}
.results p,.search .phrases-box{margin:0 0 10px}
.search-results dt.result-title{border-top:1px dotted #DADADA;padding-top:20px;margin:20px 0}
.search dd.result-text span.highlight{background:#000}

/*Edit*/
div.edit {}
.edit label{display:block;float:left;font-weight:700;text-align:right;width:130px}
label#jform_description-lbl {width:auto!important;float:none!important;text-align:left}
.edit fieldset{padding:20px 0 0}
.edit .inputbox,.edit input{margin-left:10px;width:150px}
.edit select{margin-left:10px;width:164px!important}
.edit div.formelm {margin-bottom:10px}
.edit div.formelm-buttons {margin:0 0 20px 140px}

/* wrapper */
iframe { border:none; }

/* Tooltip */
.tip{background:#FCFCF4;border:1px solid #EAE6CC;font-size:10px;max-width:300px;color:#323232;padding:5px}
.tip-title{background:none;font-weight:700;border-bottom:1px solid #EAE6CC;text-transform:uppercase;padding:3px 6px}
.tip-text{padding:3px}
label.hasTip{margin-left:5px}

/* System Messages */
#system-message{margin:0}
#system-message dt{display:none}
#system-message dd{background:none!important;padding:0!important}
#system-message dd.message ul,#system-message dd.error ul,#system-message dd.notice ul{color:#222;font-weight:400;margin:0;padding:0}
#system-message dd.message ul{background:#FFFEF4;border-top:1px solid #EAE8CC;border-bottom:1px solid #EAE8CC}
#system-message dd.error ul{background:#fff3f4;border-top:1px solid #FF969B;border-bottom:1px solid #FF969B}
#system-message dd.notice ul{background:#f4faff;border-top:1px solid #96ccff;border-bottom:1px solid #96ccff}
#system-message dd.message ul li,#system-message dd.error ul li,#system-message dd.notice ul li{background:none;text-indent:0;text-align:center;margin:0;padding:8px 16px}