/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
#hornav,#sublevel {position:relative}
#hornav ul.sp-menu { padding: 0;margin:0}
#sublevel ul.sp-menu { padding: 5px 0}
#hornav .megacol,#sublevel .megacol {float:left}
#sublevel ul.empty,#sublevel li.empty {height:0px!important;display:none} 
#hornav ul li,#sublevel ul li{background:none;padding:0;margin:0} 

/*Top Level*/
#hornav-wrapper {float:left}
#sublevel {background:#333}
#hornav ul.level-0,
#sublevel ul.level-1{margin:0;padding:0}

#hornav ul.level-0 > li.menu-item,
#sublevel ul.level-1 > li.menu-item{display:block;float:left;margin:0 1px;padding:3px 0 7px 0}

#hornav ul.level-0 > li.menu-item > a.menu-item,
#sublevel ul.level-1 > li.menu-item > a.menu-item{font-size:20px;color:#d6d6d6;background-position:50% 0;display:block;font-weight:400;line-height:normal;text-decoration:none;text-transform:uppercase;margin:0;padding:17px 10px}

#hornav ul.level-0 > li.menu-item span.has-image,
#sublevel ul.level-1 > li.menu-item span.has-image{padding-left:18px;display:block;background-repeat:no-repeat;background-position:0 50%}

#hornav ul.level-0 > li.menu-item img.menu-image,
#sublevel ul.level-1 > li.menu-item img.menu-image {float:left;margin:0 7px 0 0}

#hornav ul.level-0 > li.menu-item span.menu-title,
#sublevel ul.level-1 > li.menu-item span.menu-title{display:block}

#hornav ul.level-0 > li.menu-item span.menu-desc,
#sublevel ul.level-1 > li.menu-item span.menu-desc{display:block;font-weight:400;font-size:12px;text-transform:none;text-shadow:none;color:#f5f5f5}

#hornav ul.level-0 > li.parent > a.menu-item span.menu,
#sublevel ul.level-1 > li.parent > a.menu-item span.menu {display:block;padding-right: 0;background:none}

#hornav ul li.parent > a.menu-item span.menu,
#sublevel ul li.parent > a.menu-item span.menu {display:block;padding-right: 12px;background:url(../images/daddy.png) no-repeat 100% 50%}

/*Submenu*/
#hornav li .submenu,#sublevel li .submenu {position:absolute;display:none;z-index:9999}
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background-repeat:no-repeat;background-position:10px 0;color:#fff;text-shadow:0 1px rgba(0,0,0,.5)}
#hornav ul.level-1 > li .submenu-inner,#sublevel ul.level-2 > li .submenu-inner {border-top-width:0!important}

/*Styling subnav*/
#hornav {position:relative}

#hornav ul ul,
#sublevel ul ul {float: none;}

#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {background:none;display:block;margin:0;padding:0;float:none}

#hornav li.menu-item li.menu-item:first-child,
#sublevel li.menu-item li.menu-item:first-child{border-top:0}
#hornav li.menu-item li.menu-item:last-child,
#sublevel li.menu-item li.menu-item:last-child{border-bottom:0}
#hornav .group li.menu-item.group,
#sublevel .group li.menu-item.group {border:0!important}

#hornav li.menu-item li.menu-item a.menu-item,
#sublevel li.menu-item li.menu-item a.menu-item
{display:block;font-size:14px;font-weight:400;line-height:normal;text-decoration:none;margin:0;padding:10px;color:#fff;text-shadow:0 1px rgba(0,0,0,.5)}

#hornav li.menu-item li:hover,#hornav li.menu-item li.active,
#sublevel li.menu-item li:hover,#sublevel li.menu-item li.active{background:#000}

#hornav li.menu-item li.menu-item span.menu-desc,
#sublevel li.menu-item li.menu-item span.menu-desc{color:#fff}

/*Dropline or Split menu*/
#sublevel ul.level-1 > li.menu-item{background:none}
#sublevel ul.level-1 > li.menu-item > a.menu-item{padding:8px 10px}

/*Group*/
* html .group{height:0}
#hornav .group {padding:10px;}
#hornav .group .group-title {margin-top:-10px;}
#hornav ul li.menu-item .group{background:none!important;overflow:hidden}
#hornav .group-content ul.sp-menu{margin:0!important}
#hornav .group-title{margin:0;padding:0;overflow:hidden}
#hornav .group-title .menu-title{font-size:100%;font-weight:400;line-height:normal;text-transform:uppercase}
#hornav .group-title .menu-desc{color:#fff;padding-left:0!important}