/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/

/*Module type XHTML*/

.sp-module-wrapper {margin-bottom:20px;padding:20px}

.module_none.sp-module-wrapper {
	background:none!important;
	border:0;
	padding:0;
	margin:0;
}

.sp-module-wrapper.has-header {margin-top:40px}

* .sp-module-wrapper:first-child {}

.mod-wrapper,.mod-wrapper-flat {position:relative}

.mod-wrapper h3.header {text-align:center;margin:-45px 0 10px;}
.mod-wrapper h3.header span, .login h1{display:inline-block;color:#fff;height:40px;line-height:40px;position:relative;font-weight:400;font-size:30px;text-transform:uppercase;padding:5px 20px;text-shadow:0 1px rgba(0,0,0,.5);border-radius:5px}
.mod-wrapper h3.header span:before, .login h1:before,
.mod-wrapper h3.header span:after, .login h1:after{
	content:"";
	position: absolute;  
    width: 0;  
    height: 0; 
    top: 5px;  
    border-width: 20px 14px;  
    border-style: solid;  
}

.mod-wrapper h3.header span:before, .login h1:before{
    left: -28px;  
}

.mod-wrapper h3.header span:after, .login h1:after{
    right: -28px;  
}

.module_ads .mod-wrapper h3.header {font-family:arial;text-transform:uppercase;font-size:9px;position:absolute;bottom:-15px;right:0;color:#999;text-shadow:0 1px #fff}

.module_text .mod-wrapper h3.header {font-size:9px;text-align:center}

.mod-wrapper ul{list-style:none;margin:0;padding:0}
.mod-wrapper li{background:none;margin:0;padding:0}
.mod-wrapper li:first-child{border-top:0}
.mod-wrapper li a{background:url(../images/bullet.gif) no-repeat 0 8px;font-size:12px;display:block;text-decoration:none;margin:0;padding:5px 18px}
.rtl .mod-wrapper li a{background:url(../images/bullet.gif) no-repeat 100% 8px;font-size:12px;display:block;text-decoration:none;margin:0;padding:5px 18px}
.mod-wrapper li li{margin-left:10px;border-bottom:0!important}

/*Module Type Flat*/
.mod-wrapper-flat h3.header{color:#000;text-shadow:0 1px #eee}
.mod-wrapper-flat ul{list-style:none;margin:0;padding:0}
.mod-wrapper-flat li{font-size:11px;display:block;text-decoration:none;margin:0;padding:4px;background:none;color:#888}
.mod-wrapper-flat li a,.mod-wrapper-flat a{color:#888}
.mod-wrapper-flat h3.header{font-size:24px}

/*Module Type Menu*/
.mod-wrapper-menu {margin-top:8px}
.mod-wrapper-menu h3.header{font-size:12px;font-weight:700;color:#000;margin:0;padding:2px 5px}
.mod-wrapper-menu ul{list-style:none;margin:0;padding:0}
.mod-wrapper-menu li{font-size:11px;display:block;text-decoration:none;margin:0;padding:4px}
.mod-wrapper-menu li a:hover{text-decoration:underline}

/*Badges*/
span.badge_new,span.badge_free,span.badge_hot,span.badge_pick,span.badge_top
{height:48px;position:absolute;right:5px;text-indent:-999em;top:17px;width:48px;z-index:99}
span.badge_new{background: url(../images/base_new.png) no-repeat 100% 0;}
span.badge_free{background: url(../images/base_free.png) no-repeat 100% 0;}
span.badge_hot{background: url(../images/base_hot.png) no-repeat 100% 0;}
span.badge_pick{background: url(../images/base_pick.png) no-repeat 100% 0;}
span.badge_top {background: url(../images/base_top.png) no-repeat 100% 0;}