/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
html{direction:rtl}
a#logo,#logo-text {float:right}
a#logo {background-position:100% 50%}

/*Search*/
#sp-leftcol, #sp-rightcol, #sp-maincol ,#sp-inset1, #sp-inset2, #inner_content, .sp-block{float:right!important}
.sp-block .first {margin-left:0!important;margin-right:-20px}
.sp-block .last {margin-right:0!important;margin-left:-20px}

/*Hornav*/
#hornav-wrapper{float:right!important}
#hornav li .submenu,#sublevel li .submenu {direction:ltr}
.submenu-inner {direction:rtl}
#hornav .megacol {float:right!important}
#hornav ul.level-0,
#sublevel ul.level-1,#hornav ul.level-0 > li.menu-item,
#sublevel ul.level-1 > li.menu-item
{float:right!important}
#hornav ul.level-0 > li.parent > a.menu-item span.menu,
#sublevel ul.level-1 > li.parent > a.menu-item span.menu {background: none!important}
#hornav ul.level-0 > li.parent > a.menu-item span.menu,
#sublevel ul.level-1 > li.parent > a.menu-item span.menu {padding-right: 0!important;padding-left: 0!important}
#hornav ul li.parent > a.menu-item span.menu,
#sublevel ul li.parent > a.menu-item span.menu {padding-right: 0!important;padding-left: 12px!important;background:url(../images/daddy_rtl.png) no-repeat 0 50%!important}
#hornav ul.level-0 > li.menu-item span.has-image,
#sublevel ul.level-1 > li.menu-item span.has-image{padding-left:0!important;padding-right:18px;background-position:100% 50%!important}
.rtl #hornav ul.level-0 > li.menu-item img.menu-image,
.rtl #sublevel ul.level-1 > li.menu-item img.menu-image {float:right;margin:0 0 0 7px}

/*Share*/
.rtl #sp-share{left:0;right:auto}

/* Breadcrumbs */
.rtl #sp-pathway span.showhome {margin:0 0 0 5px}
.rtl #sp-pathway a,.rtl #sp-pathway span,.rtl #sp-pathway strong{float:right}
.rtl #sp-pathway a,.rtl #sp-pathway span.separator{margin:0;padding:0 0 0 25px;background:url(../images/breadcrumbs-separator.png) 0 50% no-repeat}
.rtl a#topofpage{right:auto;left:20px}

/*SlideShow*/
h2.sp-slide-title{right:280px!important}

/*Event Details*/
.schedule{float:right}
.sp-event-package{text-align:right}

/*Blog Page*/
.g-rba-Dh-kQa  #widget_bounds{float:right!important}

/* Helix Logo */
.helix-logo-light,.helix-logo-dark,.helix-logo-light-small,.helix-logo-dark-small{float:right!important;padding:0 0 0 10px;margin:0 0 0 15px;border-right:0;border-left:1px solid #e5e5e5}

/*Joomla*/
fieldset dd{float:right}
fieldset dt{float:right}
ul.buttonheading{float:left}
dl.article-info{float:right}
#form-login-username label, #form-login-password label, #form-login-remember label {float: right;text-align: right}
#adminForm table thead tr, #adminForm table thead tr th {text-align: right}
div.pagination ul{text-align:right}
div.pagination p.counter{float:left}
.filter-search{float:right}
div.categories-list dt {float: right}

.login label,.profile-edit dl dt,.remind dl dt,.reset dl dt,.registration dl dt{float:right;text-align:right}
.login .inputbox,.login input.required,.registration dl dd input.required,.remind dl dd input.required,.reset dl dd input.required,
.profile-edit .inputbox,.profile-edit input.required,.profile-edit input,.profile-edit select{margin:0 10px 0 0}
.login .button,.login button,.profile-edit button,.remind button,.reset button,.registration button{float:right}
.login form{text-align:right}

/*Edit*/
.edit label{float:right;text-align:left}
label#jform_description-lbl {text-align:right}
.edit .inputbox,.edit input{margin:0 10px 0 0}
.edit select{margin:0 10px 0 0}
.edit div.formelm-buttons {margin:0 140px 20px 0}

/*Typography*/
div img.sp-slide-image{float:left!important;margin:0 20px 0 0!important}
img.image-left{float:right!important;margin:.5em 0 .5em 1em!important}
img.image-right{float:left!important;margin:.5em 1em .5em 0!important}
p.stickynote,p.download{background-position:100% 0!important;padding:15px 60px 15px 10px!important}
p.error,p.warn,p.tips,p.help,p.info,p.email,p.print,p.rss,p.save,p.lock,p.user,p.new,p.house,p.tag{background-position:100% 5px!important;padding:0 24px 5px 0!important}
.dropcap:first-letter{float:right!important;padding:4px 0 0 8px!important}
ul li {padding:0 10px 0 0}
ul li {background: url(../images/typo/rtl_bullet.png) no-repeat 100% 2px;}
ul.rss li, ul.minus li, ul.delete li, ul.check li, ul.arrow li, ul.arrow-2 li, ul.add li, ul.star li {padding:0 20px 0 0!important;background-position:100% 2px!important}
.bignumber{background-position:100% 0!important;float:right!important;margin-right:0!important;margin-left:8px}
.legend-title{left:auto!important;right:7px!important}
.rtl .sp-widget .sp-num {float: left!important;display: inline-block;text-align: center;margin: -27px 12px 0 0;font-size: 11px;background: #222;padding: 3px 10px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-khtml-border-radius: 4px;}
.rtl .form-horizontal .control-label{float:right!important;width: 140px;padding-top: 5px;text-align: left;padding-left: 10px;}