/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/

/* Master Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}

/* Core */
body{color:#525253;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:150%}
body.bg{background:#f5f5f5 url(../images/body-bg.png) repeat}
.sp-wrap{margin-left:auto;margin-right:auto}
.sp-block{float:left;display:inline}
.mod-block {padding:20px}
.sp-inner{padding-left:20px;padding-right:20px}
.sp-block .first {margin-left:-20px}
.sp-block .last {margin-right:-20px}
.sp-block .single {margin-left:-20px;margin-right:-20px}
.gap{clear:both; margin-bottom:20px}
.content-bg {background:#fff;border-radius:3px 3px 0 0;box-shadow:0 0 5px 0 rgba(0,0,0,.2)}

/*Header Area*/
#header {position:relative;background:#000}
a#logo,#logo-text{float:left;margin:0 50px 0 20px}
a#logo{background-repeat:no-repeat;background-position:0 50%}
#logo-text h1{font-size:200%;font-weight:bold;text-transform:uppercase;border:0!important;margin:10px 0 0!important;padding:0!important}
#logo-text h1 a{}
#logo-text p.site-slogan{margin:0;padding:0;color:#999}

/*Others*/
#sp-countdown-grid {border-bottom:1px solid #ccc;}
#sp-speakers-grid{background:#f5f5f5 url(../images/pattern_1.png);border-top:1px solid #f9f9f9;border-bottom:1px solid #ccc;padding:30px 0}
#sp-speakers-grid h3.header {margin-bottom:40px}
#sp-footer-grid{background:#111 url(../images/pattern_2.png)}
#sp-bottom{background:#e5e5e5 url(../images/pattern_3.png);border-top:1px solid #eee;border-bottom:1px solid #f5f5f5}

/* Layout */
.sp-hidethis {display:none}
#sp-leftcol, #sp-rightcol, #sp-maincol ,#sp-inset1, #sp-inset2, #inner_content {float:left}
#sp-leftcol, #sp-rightcol, #sp-maincol {padding:20px 0}

/* Breadcrumbs */
#sp-pathway{overflow:hidden;height:30px;line-height:30px;margin-bottom:20px;}
#sp-pathway span.showhome {font-weight:bold;margin-right:5px}
#sp-pathway .padding{padding:5px 8px}
#sp-pathway a,#sp-pathway span,#sp-pathway strong{display:block;float:left}
#sp-pathway a,#sp-pathway span.separator{margin-right:10px;padding-right:15px;background:url(../images/breadcrumbs-separator.png) 100% 50% no-repeat}
#sp-pathway span.current{color:#666}

/*Goto top*/
#topofpage{background:url(../images/to-top.png) no-repeat 0 0;bottom:60px;cursor:pointer;display:none;position:fixed;right:20px;z-index:789;width:49px;height:49px; text-indent: -9999em}

/* Footer */
#sp-footer{text-align:center;padding:50px 0 100px;font-weight:700;text-shadow:0 1px #000}
span.designed_by {display:block;font-size:24px;font-weight:400;margin:10px 0;}


/*Responsive layout*/
/* Large desktop */
@media (min-width: 1200px) {}
 
/* Tablet landscape and desktop */
@media (min-width: 960px) and (max-width: 1199px) { }
 
/* Landscape phone to portrait tablet */
@media (min-width: 768px) and (max-width: 959px) { 
	.sp-wrap {width:728px!important}
	#hornav ul.level-0 > li.menu-item > a.menu-item, #sublevel ul.level-1 > li.menu-item > a.menu-item {font-size:16px!important}
	#header {margin:0!important}
	#sp-share {display:none}
	
	/*Slideshow*/
	#sp-slide-grid .sp_slide_introtext {padding:30px!important}
	h2.sp-slide-title  {left: 265px!important;font-size:36px!important}
	.sp_slide_btnnext,.sp_slide_btnprev {margin-top:0!important;}
	
	/*Slideshow Details*/
	img.slides_details{width:32%!important}
	.image-right{width:70%!important}
	
	/*Countdown*/
	#sp-countdown-grid .sp_countdown .sp_countdown_pre_text,
	#sp-countdown-grid .sp_countdown_container,
	#sp-countdown-grid .sp_countdown .sp_countdown_button {margin:0 10px}	
	#sp-countdown-grid .sp_countdown .sp_countdown_pre_text {font-size:18px}
	#sp-countdown-grid .sp_countdown .sp_countdown_button {padding-top:15px}	
	#sp-countdown-grid .sp_countdown_days, 
	#sp-countdown-grid .sp_countdown_hours, 
	#sp-countdown-grid .sp_countdown_mins, 
	#sp-countdown-grid .sp_countdown_secs {width:60px!important;height:60px!important}
	#sp-countdown-grid .sp_countdown .sp_countdown_int{font-size:24px;padding-top:15px}
	#sp-countdown-grid .sp_countdown .sp_countdown_string{padding-top:0}
	#sp-countdown-grid .sp_countdown .sp_countdown_button a.button {padding:0 10px;font-size:18px}

	/*News Show SP2*/
	.nssp2.ns2-speaker img.ns2-image {width:130px!important;height:130px!important}
	.ns2-sponsor img.ns2-image {width:100%!important;height:auto!important}
	
	/*login*/
	.login  {margin:50px 100px 0 100px!important}
	.login + div {margin:-80px 100px 0 100px!important}

	/*Buy Ticket*/
	.sp-highlight-bar{padding:10px 25px 10px 20px!important;}
	.sp-event-package{width:100%!important}
	.sp-event-package span.package_rate{font-size:60px!important}
	.sp-buy-ticket{margin-top:-60px!important}
	.sp-buy-ticket a{font-size:90px!important}
	
	/*search*/
	.k2SearchBlock input.inputbox, .mod-search input.inputbox{width:110px!important}
	
	}
 
/* Phones portrait and landscape  */
@media only screen and ( max-width: 767px ) {
	#header {margin:0!important;padding-bottom:10px}
	#sp-mmenu select.select-menu {padding:2px 0;background:#000;border:1px solid #222}
	a#logo,#logo-text {margin-left:0;margin-right:0}
	#sp-share,
	.sp_slide_introtext,
	.sp_speaker_container,
	#sp-ticket,
	.itemToolbar {display:none!important}
	
	/*Slideshow*/
	h2.sp-slide-title  {left: 0!important;width: 100%!important;font-size:30px!important;text-align:center}
	.sp_slide_btnnext,.sp_slide_btnprev {margin-top:0!important;}
	
	/*Slideshow Details*/
	img.slides_details{width:30%!important}
	.item-page h4 {font-size:12px!important}
	.item-page h5{font-size:12px!important}
	.sp-tableStatic{display:none!important}
	.image_wrapper {width:200px!important}
	
	/*Countdown*/
	#sp-countdown-grid .sp_countdown .sp_countdown_pre_text,
	#sp-countdown-grid .sp_countdown_container,
	#sp-countdown-grid .sp_countdown .sp_countdown_button {float:none!important;padding:10px 0}
	#sp-countdown-grid .sp_countdown_days, 
	#sp-countdown-grid .sp_countdown_hours, 
	#sp-countdown-grid .sp_countdown_mins, 
	#sp-countdown-grid .sp_countdown_secs {width:40px!important;height:40px!important;margin-bottom:5px!important}
	#sp-countdown-grid .sp_countdown .sp_countdown_button {padding-top:15px}	
	#sp-countdown-grid .sp_countdown .sp_countdown_int{font-size:16px;padding-top:5px}
	#sp-countdown-grid .sp_countdown .sp_countdown_string{font-size:14px;padding-top:0}
	#sp-countdown-grid .sp_countdown .sp_countdown_button a.button {font-size:12px}
	
	/*Popup*/
	.sp-pop-container {display:none!important}
	
	/*News Show SP2*/
	.nssp2.ns2-speaker img.ns2-image {display:none}
	.ns2-sponsor img.ns2-image {width:100%!important;height:auto!important}
	
	/*Contact Form*/
	.contact-info,
	.contactus-form	{width:100%!important}
	
	/*Login*/
	.login,.login + div {margin-left:0!important;margin-right:0!important}
	.login input#username, .login input#password {width:auto!important}
	
	/*K2*/
	span.image_wrapper img {width:120px!important}
	span.itemImage img {width:100%!important}
	.itemAuthorLatest,.itemRelated {float:none!important}
	
	/*Event Details*/
	img.img_rounded{display:none}
	.ev-big-image{width:250px!important}
	.item-page h6{line-height:20px!important}
	.ev-small-image{width:250px!important}
	
}

/* Clearfix */
.clr{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix,:first-child+html .clearfix{zoom:1}