/**
 * @version    $Id: installer.css 17916 2012-11-02 09:38:32Z thailv $
 * @package    JSN_Sample
 * @author     JoomlaShine Team <support@joomlashine.com>
 * @copyright  Copyright (C) 2012 JoomlaShine.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.joomlashine.com
 * Technical Support:  Feedback - http://www.joomlashine.com/contact-us/get-support.html
 */

#jsn-installer-login input {
	float: right;
	margin-right: 0;
}
#jsn-installer-list {
	margin-top: 20px;
}
#jsn-installer-list ul,
#jsn-installer-list ul li,
#jsn-installer-manual-download,
#jsn-installer-finalization,
#jsn-installer-login + #jsn-installer-list {
	display: none;
}

#jsn-installer-manual-download ol {
	color: #000;
	font-weight: normal;
}
#jsn-installer-manual-download ol li {
	display: list-item;
}

#jsn-installer-list .jsn-icon16 {
	display: inline-block;
	margin-top: 1px;
	width: 16px;
	height: 16px;
	background: url(../images/icons-16/icons-16-uni.png) left top no-repeat;
	line-height: 16px;
	vertical-align: text-top;
}
#jsn-installer-list .jsn-icon16.icon-loading {
	background-image: url(../images/icons-16/icon-16-loading-circle.gif) !important;
}
#jsn-installer-list .jsn-icon16.icon-warning {
	background-position: -48px 0;
}
#jsn-installer-list .jsn-icon16.icon-ok {
	background-position: -32px -64px;
}
#jsn-installer-list .jsn-icon16.icon-fail {
	background-position: -16px -64px;
}

.jsn-progress-bar {
	display: none;
	border: 1px inset gray;
	width: 100px;
}
.jsn-progress-bar.tracking,
.jsn-progress-bar-counting {
	display: inline-block;
}
.jsn-progress-bar-counting {
	width: 0%;
	background-color: lightgray;
	text-align: center;
}

.jsn-installer-error {
	display: none;
	color: #c00;
	font-weight: bold;
}

#jsn-installer-finalization .button-holder {
	text-align: center;
}
#jsn-installer-finalization .button-holder .button1,
#jsn-installer-finalization .button-holder .button1 div {
	float: none;
	display: inline-block;
}
#jsn-installer-finalization .button-holder .button1 a {
	float: none;
}
.jsn-installer-container form {
	margin: 0 0 20px;
}
.jsn-installer-container {
	background-color: #FFFFFF;
	border: 1px solid #D5D5D5;
	margin: 50px auto;
	padding: 25px;
	position: relative;
	width: 800px;
	box-shadow: 0 3px 5px 0 #666666;
	border-radius: 10px 10px 10px 10px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 1.5em;
}
.jsn-bootstrap h1, 
.jsn-bootstrap h2,
.jsn-bootstrap h3,
.jsn-bootstrap h4,
.jsn-bootstrap h5,
.jsn-bootstrap h6 {
	font-weight: normal;
	margin: 5px 0 10px;
}
.jsn-bootstrap h1 {
	color: #000000;
	font-size: 20px;
}
.jsn-bootstrap h2 {
	color: #333333;
	font-size: 18px;
}
.jsn-bootstrap .jsn-installer-container p {
	padding: 0;
	margin: 5px 0 15px 0;
}