/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
#jsn-page-container {
	font-size: 12px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}
#jsn-page-container #jsn-vsleft-panel {
	overflow: hidden;
}
#jsn-page-container #jsn-vsright-panel {
	overflow: hidden;
}
#jsn-page-container #jsn-vsleft-panel #jsn-leftpanel-header,
#jsn-page-container #jsn-rawmode-left-panel #jsn-leftpanel-header {
	position: relative;
	background: #E4E4E4;
	border-bottom: 2px solid #CCC;
}
#jsn-page-container #jsn-leftpanel-header .jsn-leftpanel-header-title {
	margin: 0;
	color: #737373;
	font-size: 16px;
	padding: 4px 10px 7px 10px;
}
#jsn-page-container #jsn-vsleft-panel div.jsn-menu-selector-container_inner {
	height: 100%;
	overflow-x: hidden;
}
/** tool bars **/
#toolbar-rawmode {
	width: 50px;
	height: 28px;
	padding: 5px;
	margin-top: -3px;
	margin-right: 7px;
	background: url(../images/rawmode.png) 20px 8px no-repeat;
}
#toolbar-selecttemplate {
	width: 60px;
	height: 34px;
	padding: 8px;
	margin-top: -5px;
	margin-right: 15px;
	background: url(../images/select-template.png) 38px 50% no-repeat;
}
#jsn-page-container #jsn-vsright-panel #jsn-rightpanel-header,
#jsn-page-container #jsn-rawmode-right-panel #jsn-rightpanel-header {
	padding: 5px;
	background: #E4E4E4;
	border-bottom: 2px solid #CCC;
}
#jsn-page-container #jsn-rightpanel-header .jsn-rightpanel-header-title {
	margin: 0;
	padding: 4px;
	float: left;
	color: #727272;
	font-size: 16px;
}
#jsn-page-container #jsn-rightpanel-header .jsn-rightpanel-header-tools {
	float: right;
}
#jsn-page-container .jsn-rightpanel-header-tools .ui-button-text {
	font-size: 12px;
	cursor: pointer;
	padding: 2px 5px;
	line-height: 27px;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
#jsn-page-container .jsn-rightpanel-header-tools .button-state {
	float: left;
	width: 27px;
	height: 27px;
}
#jsn-page-container .jsn-rightpanel-header-tools .unpublish-modules .button-state {
	background: url(../images/unpublish-modules.png) -160px 0 no-repeat;
}
#jsn-page-container .jsn-rightpanel-header-tools .inactive-positions .button-state {
	background: url(../images/inactive-position.png) -137px 0 no-repeat;
}
#jsn-page-container .jsn-rightpanel-header-tools .module-highlights .button-state {
	background: url(../images/module-highlight.png) -137px 0 no-repeat;
}
#jsn-page-container .jsn-rightpanel-header-tools .ui-state-hover,
#jsn-page-container .jsn-rightpanel-header-tools .ui-state-active {
	color: #FFF;
	background: #666;
	border: 1px solid #666;
}
#jsn-page-container .jsn-rightpanel-header-tools .unpublish-modules .ui-state-hover .button-state,
#jsn-page-container .jsn-rightpanel-header-tools .unpublish-modules .ui-state-active .button-state {
	background: url(../images/unpublish-modules.png) -187px 0 no-repeat;
}
#jsn-page-container .jsn-rightpanel-header-tools .inactive-positions .ui-state-hover .button-state,
#jsn-page-container .jsn-rightpanel-header-tools .inactive-positions .ui-state-active .button-state {
	background: url(../images/inactive-position.png) -164px 0 no-repeat;
}
#jsn-page-container .jsn-rightpanel-header-tools .module-highlights .ui-state-hover .button-state,
#jsn-page-container .jsn-rightpanel-header-tools .module-highlights .ui-state-active .button-state {
	background: url(../images/module-highlight.png) -167px 0 no-repeat;
}
/* =============== MENU ITEM LISTING =============== */
div.jsn-menu-selector-container {
	border: 1px solid #CCC;
}
div.jsn-menu-selector-container_inner {
	height: 360px;
	position: relative;
}
div.jsn-menu-selector {
	top: 10px;
	left: 10px;
	position: absolute;
	background: #EFEFEF;
	border: 1px solid #CCC;
}
div.jsn-menu-selector div.jsn-menutype-title {
	padding: 0 6px;
	display: none;
	cursor: pointer;
	color: #737373;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}
div.jsn-menu-selector div.jsn-menutype-title:hover {
	background-color: #CCC;
}

div.jsn-menu-selector span.dropdown-arrow {
	cursor: pointer;
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background: #EFEFEF center center no-repeat;
	border-left: 1px solid #CCC;
}
div.jsn-menu-selector span.dropdown-arrow:hover {
	background-color: #CCC;
}
div.jsn-menu-selector span.dropdown-arrow {
	background-image: url(../images/menu-selector-icon-collapse.png);
}
div.jsn-menu-selector.jsn-menu-selector-disabled span.dropdown-arrow {
	background-image: url(../images/menu-selector-icon-expand.png);
}
#jsn-menutypes {
	display: block;
	z-index: 99;
	visibility: hidden;
	height: 0px;
	border-top: 1px solid #CCC;
}

/* Scrollbar Styles */
#jsn-menutypes .jsn-scrollable { 
}
#jsn-menutypes .jsn-scrollable .viewport { width: 100%; float: left; overflow: hidden; position: relative; }
#jsn-menutypes .jsn-scrollable .overview { list-style: none; position: absolute; left: 0; top: 0; right: 0; }
#jsn-menutypes .jsn-scrollable .thumb { background-color: #000; opacity: 0.2; border-radius: 2px; overflow: hidden; visibility: hidden; }
#jsn-menutypes .jsn-scrollable:hover .thumb { visibility: visible; }
#jsn-menutypes .jsn-scrollable .scrollbar { position: relative; float: right; width: 7px; padding: 0 3px; height: 100%; margin-left: -20px; }
#jsn-menutypes .jsn-scrollable .track {
	height: 100%;
	width: 7px;
	position: relative;
}
#jsn-menutypes .jsn-scrollable .thumb { height: 20px; width: 6px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#jsn-menutypes .jsn-scrollable .disable { display: none; }

div.jsn-menu-selector ul.jsn-menu-dropdown-lists {
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 999;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li,
div.jsn-menu-selector #add-new-menu {
	margin: 0;
	padding: 0;
	clear: both;
	list-style-type: none;
	background-color: #EFEFEF;
}
div.jsn-menu-selector #add-new-menu {
	border-top: 1px solid #CCC;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li.menu-selector-icon {
	cursor: pointer;
	background: none;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li.selected {
	display: none;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li a,
div.jsn-menu-selector #add-new-menu a {
	color: #727272;
	display: block;
	cursor: pointer;
	font-size: 13px;
	text-align: left;
	padding: 8px 10px;
	font-weight:normal;
	text-decoration: none;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li a ins.has-selected {  
    width: 8px;
    height: 6px;  
    right: 10px;
	display: block;
	margin-top: -11px;
	position: absolute;
	background: url(../images/menu-manager-images.png) no-repeat;
	background-position: -20px -4px;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li a ins.has-default {
	width: 18px;
    height: 16px;
    margin: 0 0 -5px 5px;
    display: inline-block;
	background: url(../images/menu-manager-images.png) 0 0 no-repeat;
}

div.jsn-menu-selector ul.jsn-menu-dropdown-lists li#add-new-menu a {
	padding: 6px 10px 7px 10px;	
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li a:hover,
div.jsn-menu-selector #add-new-menu a:hover {
	color: #000;
	background-color: #E4E4E4;
}
div.jsn-menu-selector ul.jsn-menu-dropdown-lists li.menu-selector-icon span.icon {
	height: 22px;
	display: block;
	padding: 5px 10px;
	margin-right: 10px;
}
div.add-new-menu {
	margin: 3px;
	width: auto;
	height: 20px;
	color: #666;
	cursor: pointer;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 28px;
	border: 1px dashed #999;
	background: url(../images/menu-add-new.png) 10px center no-repeat;
}
div.add-new-menu a.new-menu {
	color: #999;
	cursor: pointer;
	font-size: 14px;
	font-weight: 200;
	font-style: italic;
	text-decoration: none;
	font: "Courier New", Courier, monospace;
}
/*==================== END LEFT PANEL =================================*/
/*====================  JSN SUBMENU ==================================*/
.jsnpw-submenu li.bold-item {
	font-weight: bold;
}
.jsnpw-submenu ul {
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: 0 3px 3px 0 #CCC;
	-moz-box-shadow: 0 3px 3px 0 #CCC;
	-webkit-box-shadow: 0 3px 3px 0 #CCC;
	behavior: url(/PIE.htc);
}
.jsnpw-submenu ul li {
	color: #666;
	margin: 2px;
	display: block;
	cursor: pointer;	
	padding: 5px 8px;
	position: relative;
}
.jsnpw-submenu ul li.disabled {
	color: #ccc;
	cursor: default;
	font-weight: normal;
}
.jsnpw-submenu ul li.disable,
.jsnpw-submenu ul li a.disable {
	color: #CCCCCC;
	font-style: italic;
}
.jsnpw-submenu ul li span.jsn-submenu-arrow{	
	top:0px;
	right:0px;
	width:4px;
	height:7px;
	display:block;
	float:right;
	position:relative;
	background:url(../images/jsn-subpanel-arrow.png) no-repeat center;
}
.jsnpw-submenu ul li:hover {
	background-color: #EFEFEF;
}
.jsnpw-submenu ul li.disabled:hover {
	background: none;
}
.jsnpw-submenu ul li.jsn-submenu-divider {
	padding: 0;
	height: 1px;
	margin: 1px 0;
	cursor: default;
	background: #CCC;
}
.jsnpw-submenu ul li.jsn-submenu-divider-ie7 {
	top: -6px;
	clear: both;
	line-height: 1px;	
	position: relative;
}
.jsnpw-submenu ul li ins {
	display: none;
}
.jsnpw-submenu ul li a {
	color: #666;
	display: block;
	text-decoration: none;	
}
.jsnpw-submenu ul li.parent {
	background-image: url(../images/jsn-subpanel-arrow.png);
	background-position: 96% center;
	background-repeat: no-repeat;
}
.jsnpw-submenu li.subpanel-disable,
.jsnpw-submenu li.subpanel-disable ul > li {
	display: none;
	color: #8B8B8B;
	font-style: italic;
}
.jsnpw-submenu ul li ul {
	top: -2px;
	left: 145px;
	display: none;
	z-index: 9999;
	position: absolute;
}
.jsnpw-submenu ul li:hover ul {
	display: block;
}
.switch-menu,
.header-context-menu,
.switch-menu ul li > ul,
.header-context-menu ul li > ul {
	width: 150px;
}
/*==================IFRAME===============================*/
div.visualmode-frame {
	height: 100%;
}
div.visualmode-frame iframe {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*=================SELECT TEMPLATE===================*/
#jsn-page-container.jsn-template-select-panel {
	padding: 10px;
}
#jsn-page-container.jsn-template-select-panel .template-item,
#jsn-page-container.jsn-template-select-panel .template-item.default {
	vertical-align: top;
	display: inline-block;
	*display: inline;
}
#jsn-page-container.jsn-template-select-panel .template-item-thumb {
	color: #000;
	padding: 5px;
	font-size: 14px;
	margin: 10px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	transition: color 0.3s linear, background 0.3s ease-out;
	-moz-transition: color 0.3s linear, background 0.3s ease-out;
	-webkit-transition: color 0.3s linear, background 0.3s ease-out;
}
#jsn-page-container.jsn-template-select-panel .template-item-thumb:hover {
	background-color: #EFEFEF;
	box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}
#jsn-page-container.jsn-template-select-panel .template-item-thumb img {
	border: 1px solid #CCC;
}
#jsn-page-container.jsn-template-select-panel .thumbnail img {
	width: 206px;
}
#jsn-page-container.jsn-template-select-panel .template-item-thumb span {
	display: block;
	padding: 8px 0 4px 0;
}
#jsn-page-container.jsn-template-select-panel span.thumbnail {
	height: 150px;
	padding-top: 0;
	overflow: hidden;
}
#jsn-page-container.jsn-template-select-panel .template-thumbnail-blank {
	width: 208px;
	height: 185px;
}
#jsn-page-container.jsn-template-select-panel .template-thumbnail-blank .blank-message {
	padding: 0;
	color: #CCC;
	width: 206px;
	height: 152px;
	font-size: 20px;
	line-height: 1.7;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #CCC;
	background-color: #FFF;
	*padding-top: 40px;
	*height: 112px;
}
#jsn-page-container.jsn-template-select-panel div.template-item.default .template-item-thumb {
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	background-color: #FFCC33;
	box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}
#jsn-page-container.jsn-template-select-panel div.template-item.default .template-item-thumb img {
	border: none;
}
/*==================PROGRESS BAR=====================*/
.rate-loading {
	width: 46px;
	height: 8px;
	color: #FFF;
	float: left;
	font-size: 14px;
	font-weight: 600;
	background: #000;
	text-align: center;
}
.progressbar.ui-corner-all {
	height: 6px;
	width: 45px;
	margin: 2px;
	border: none;
	background: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 0 0 none;
	-moz-box-shadow: 0 0 0 none;
	-webkit-box-shadow: 0 0 0 none;
}
.progressbar.ui-widget-content {
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.progressbar .ui-widget-header {
	border: 0;
	background: #FFCC00;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
/*=======================AJAX REQUEST STATUS=====================*/
span.ajaxrequeststatus {
	width: auto;
	height: auto;
	border: none;
	position: absolute;
}
/* ============================== LINK STYLE ============================== */
.jsn-link-action {
	color: #025A8D;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
.jsn-link-action:hover {
	color: #fff;
	text-decoration: none;
	background-color: #025a8d;
}
/* =============== FOOTER LINKS =============== */
.jsn-text-attention {
	color: #cc0000;
}
/*================= TEMPLATE STYLE MANAGER ===================*/
#installed-templates,
#get-more-templates {
	padding: 0;
	height: 518px;
}
#get-more-templates {
	text-align: center;
	background: #333;
}

#installed-templates .switch-control {
	text-align: center;
}

#installed-templates .client-switch-box {
    margin: 10px;
}

#installed-templates .hor {
	border-top: #E5E5E5 solid 1px;
	margin-left: 1px;
	margin-right: 1px;
}