/**
 * @author JoomlaShine.com Team
 * @copyright JoomlaShine.com
 * @link joomlashine.com
 * @package JSN ImageShow
 * @version $Id: imageshow.css 13748 2012-07-03 12:13:32Z thangbh $
 * @license GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
 */
 
/* ============================== SHOWLIST SOURCE ============================== */
.jsn-showlist-source-select {
	padding: 50px 10px;
}
.jsn-showlist-source-select .jsn-section-header {
	text-align: center;
	border: none;
	margin: 0 0 20px;
}
#jsn-showlist-detail-arrow i {
	margin-right: 0;
}
/* ========== SHOWLIST SOURCE - SOURCE SLIDESHOW ========== */
.jsn-showlist-source-slide,
.jsn-showlist-source-slide .sliding-content {
	position: relative;
}
.jsn-showlist-source-slide .jsn-item {
	float: left;
}
.jsn-showlist-source-slide .jsn-item-container:hover {
	background-color: #EFEFEF;
}
.jsn-showlist-source-slide .jsn-item-inner {
	width: 237px;
	height: 153px;
	padding: 10px;
	display: block;
	margin: 12px auto;
	position: relative;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0 0 11px #888;
	-moz-box-shadow: 0 0 11px #888;
	-webkit-box-shadow: 0 0 11px #888;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.jsn-showlist-source-slide .jsn-item-inner a:hover {
	text-decoration: none;
}
.jsn-showlist-source-slide .jsn-item-inner .jsn-imagesource-install-thumb {
	width: 235px;
	height: 150px;
	display: inline-block;
	border: 1px solid #ccc;
	background: url(../images/ajax-loader-big.gif) center center no-repeat;
}
.jsn-showlist-source-slide .jsn-item-inner .jsn-showlist-imagesource-miss-component .jsn-imagesource-install-thumb {
	background: transparent;
}
.jsn-showlist-source-slide .jsn-item .jsn-source-name {
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
	position: relative;
}
.jsn-showlist-source-slide div.navigation-button {
	right: 0;
	top: -60px;
	width: 80px;
	position: absolute;
}
.jsn-showlist-source-slide .jsn-showlist-source-slide-arrow {
	margin: 0;
	width: 36px;
	height: 36px;
	z-index: 9999;
	cursor: pointer;
	display: inline-block;
}
.jsn-showlist-source-slide .slide-arrow-pre,
.jsn-showlist-source-slide .slide-arrow-pre.disabled:hover {
	float: left;
	background: url(../images/nav.png) -1px -2px no-repeat;
}
.jsn-showlist-source-slide .slide-arrow-pre:hover {
	background-position: -120px -2px;
}
.jsn-showlist-source-slide .slide-arrow-next,
.jsn-showlist-source-slide .slide-arrow-next.disabled:hover {
	float: right;
	background: url(../images/nav.png) -39px -2px no-repeat;
}
.jsn-showlist-source-slide .slide-arrow-next:hover {
	background-position: -79px -2px;
}
.jsn-showlist-source-slide .jsn-showlist-source-slide-arrow.disabled {
	cursor: default;
	opacity: 0.5;
}
table.adminlist a.saveorder {
	float: none;
	margin: 0 0 0 8px;
	display: inline-block;
	vertical-align: middle;
}
table.adminlist td.list-order p {
	width: 90px;
	margin: 5px 0;
}
table.adminlist td.list-order p input {
	padding: 2px 0;
}
table.adminlist td.list-order p span {
	float: left;
	width: 20px;
	background-repeat: no-repeat;
}
#jsn-no-showlist {
	height: 1%;
	margin: 15px 0px 10px 0px;
}
table.admintable .showlist-input {
	width: 70%;
	float: left;
}
table.admintable .button2-left {
	margin: 0 0 0 5px;
}
#wrap-aut-article,
#wrap-btt-module,
#wrap-btt-article,
#wrap-btt-image,
#wrap-seo-article,
#wrap-seo-module {
	margin-top: 7px;
}
.jsn-showlist-edition {
	font-size: 12px;
	font-weight: bold;
}
.jsn-master #jsn-is-tmp-sbox-window {
	z-index: 1001;
	display: none;
}
.jsn-master #jsn-is-tmp-sbox-window #jsn-is-img-box-loading {
	position: relative;
}
.jsn-master #jsn-is-tmp-sbox-window #jsn-is-img-box-loading img {
	position: relative;
	left: 12px;
	top: 12px;
}
/* =============== SHOWLIST - CHANGE SOURCE =============== */
.jsn-showlist-images {
	position: relative;
}
/* =============== SHOWLIST - CREATE PROFILE =============== */
#jsn-showlist-profile {
	padding: 5px 5px 10px 0;
}
#jsn-showlist-profile ul {
	padding: 0;
	margin: 5px;
	list-style: none;
}
#jsn-showlist-profile ul li {
	margin: 2px 0;
}
#jsn-showlist-profile hr {
	margin: 0;
}
/* =============== SHOWLIST - INSTALL / UPGRADE SOURCES =============== */
@keyframes imageSourceOverlayInstall {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
@-moz-keyframes imageSourceOverlayInstall /*Firefox*/ {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
@-webkit-keyframes imageSourceOverlayInstall /*Safari and Chrome*/ {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
@keyframes hideThumbnailImageSource {
 from {
 opacity: 1;
 filter: alpha(opacity=100);
}
to {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
}
@-moz-keyframes hideThumbnailImageSource /*Firefox*/ {
 from {
 opacity: 1;
 filter: alpha(opacity=100);
}
to {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
}
@-webkit-keyframes hideThumbnailImageSource /*Safari and Chrome*/ {
 from {
 opacity: 1;
 filter: alpha(opacity=100);
}
to {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
}
@keyframes showThumbnailImageSource {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
@-moz-keyframes showThumbnailImageSource /*Firefox*/ {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
@-webkit-keyframes showThumbnailImageSource /*Safari and Chrome*/ {
 from {
 opacity: 0.1;
 filter: alpha(opacity=10);
}
to {
	opacity: 1;
	filter: alpha(opacity=100);
}
}
.jsn-showlist-imagesource-update > img,
.jsn-showlist-imagesource-install > img {
	opacity: 1;
	filter: alpha(opacity=100);
	animation: showThumbnailImageSource 0.5s infinite;
	-moz-animation: showThumbnailImageSource 0.5s infinite; /*Firefox*/
	-webkit-animation: showThumbnailImageSource 0.5s infinite; /*Safari and Chrome*/
	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
.jsn-showlist-imagesource-update > img,
.jsn-showlist-imagesource-miss-component > img {
	opacity: 0.1;
	filter: alpha(opacity=10);
	animation: hideThumbnailImageSource 0.5s infinite;
	-moz-animation: hideThumbnailImageSource 0.5s infinite; /*Firefox*/
	-webkit-animation: hideThumbnailImageSource 0.5s infinite; /*Safari and Chrome*/
	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
.jsn-showlist-imagesource-update .jsn-imagesource-update-overlay-download,
.jsn-showlist-imagesource-update:hover .jsn-imagesource-install-overlay-install {
	display: block;
	animation: imageSourceOverlayInstall 1s infinite;
	-moz-animation: imageSourceOverlayInstall 1s infinite; /*Firefox*/
	-webkit-animation: imageSourceOverlayInstall 1s infinite; /*Safari and Chrome*/
	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
.jsn-showlist-imagesource-update {
	display: block;
	background-color: #fff;
	border: 1px solid #CCCCCC;
}
.jsn-imagesource-install-overlay {
	width: 236px;
	height: 153px;
	display: none;
	position: absolute;
}
.jsn-imagesource-install-overlay-text {
	margin: 0;
	top: 30px;
	left: 10px;
	width: 235px;
	padding: 10px;
	color: #999999;
	cursor: pointer;
	font-size: 22px;
	line-height: 27px;
	font-weight: bold;
	text-align: center;
	position: absolute;
}
.jsn-imagesource-install-overlay .jsn-imagesource-install-overlay-text {
	left: 0;
	top: 86px;
}
.jsn-imagesource-install-overlay-install {
	background: url(../images/install-icon.png) center 33px no-repeat;
}
.jsn-imagesource-install-update-source {
	left: 3px;
	top: 23px;
	width: 98%;
	padding: 10px;
	color: #999999;
	cursor: pointer;
	font-size: 22px;
	line-height: 27px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	margin-left: 0;
}
.jsn-imagesource-installing .jsn-imagesource-install-update-source,
.jsn-imagesource-downloading .jsn-imagesource-install-update-source {
	display: none;
}
.jsn-imagesource-install-download,
.jsn-imagesource-install-installing {
	display: none;
}
.jsn-imagesource-installing .jsn-imagesource-install-overlay,
.jsn-imagesource-installing .jsn-imagesource-install-installing,
.jsn-imagesource-downloading .jsn-imagesource-install-overlay,
.jsn-imagesource-downloading .jsn-imagesource-install-download {
	display: block;
}
.jsn-imagesource-installing > img,
.jsn-imagesource-downloading > img {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.jsn-imagesource-installing .jsn-imagesource-install-imagesource,
.jsn-imagesource-downloading .jsn-imagesource-install-imagesource {
	display: none;
}
.jsn-imagesource-installing .jsn-imagesource-install-overlay,
.jsn-imagesource-downloading .jsn-imagesource-install-overlay {
	background: url(../images/download.png) center 33px no-repeat;
}
.jsn-imagesource-installing .jsn-imagesource-install-loading,
.jsn-imagesource-downloading .jsn-imagesource-install-loading {
	display: block;
	margin: 49px 106px;
}
.jsn-imagesource-install-loading {
	display: none;
}
.jsn-showlist-imagesource-miss-component .jsn-imagesource-install-overlay {
	display: block;
}
.jsn-showlist-imagesource-miss-component .jsn-imagesource-install-imagesource {
	display: none;
}
.jsn-imagesource-install-download span {
	display: none;
	font-size: 16px;
}
/* =============== SHOWLIST - INSTALL SOURCES =============== */
#jsn-showlist-install-sources-verify {
	overflow: hidden;
	position: relative;
}
.jsn-related-products-info {
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0 15px;
	padding: 0 0 20px;
}
.jsn-related-products-info ul {
	list-style: disc inside none;
	margin: 0 0 0 5px;
}
.jsn-related-products-info ul li.jsn-related-product {
	padding: 5px 0 0 15px;
}
#jsn-showlist-manual-install > div {
	margin: 10px 0 0 0;
}
#jsn-showlist-manual-install {
	display: none;
}
