/*---------------------------------------------------------------
# Package - Joomla Template based on Helix Framework   
# ---------------------------------------------------------------
# Author - JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# license - PHP files are licensed under  GNU/GPL V2
# license - CSS  - JS - IMAGE files  are Copyrighted material 
# Websites: http://www.joomshaper.com
-----------------------------------------------------------------*/
a,ul.tabs_container li.tab.active span,#sp-pagetitle-outer h2{color:#528600}
a:hover,a:active,a:focus{color:#333}

/*a button*/
a.readmore,.comments, input.button, a.details, .adminform button,#adminForm button,.button,button[type=submit],input[type=submit],input[type=button],
div.itemCommentsForm form input#submitCommentButton, div.pagination ul li a
{
	background-color: #277627;
	color: #fff;

	background-image: -webkit-linear-gradient(top, #277627, #1e691e);
	background-image: -moz-linear-gradient(top, #277627, #1e691e);
	background-image: -o-linear-gradient(top, #277627, #1e691e);
	background-image: -ms-linear-gradient(top, #277627, #1e691e);
	background-image: linear-gradient(top, #277627, #1e691e);
	-image background-repeat: repeat-x;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	border: 1px solid #175b17;
}

/*Header & Slideshow*/
#header-wrapper, #sp-slide-grid {background-color:#004a00}
#logo {background-image:url(../../images/styles/style3/logo.png)}
.sp_slide_btnnext{background:url(../../images/styles/style3/slide_btn_prev.png) no-repeat center}
.sp_slide_btnprev{background:url(../../images/styles/style3/slide_btn_next.png) no-repeat center}

/*Top Level*/
#hornav ul.level-0 > li.menu-item:hover,
#hornav ul.level-0 > li.menu-item.active{background:url(../../images/styles/style3/nav_bg.png) repeat-x;}
#hornav ul.level-0 > li.menu-item:hover > a.menu-item,
#hornav ul.level-0 > li.menu-item.active > a.menu-item {background:url(../../images/styles/style3/nav_arrow.png) no-repeat 50% 0;}

#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item,
#sublevel ul.level-1 > li.menu-item.parent:hover > a.menu-item{background:url(../../images/styles/style3/hornav_active.png) 50% bottom no-repeat;}
#hornav ul.level-0 > li.menu-item > a.menu-item{text-shadow:none}
#hornav ul li .submenu-inner,#sublevel ul li .submenu-inner {background-color:#277627}
#hornav li.menu-item li.menu-item,
#sublevel li.menu-item li.menu-item {border-top:1px solid #1f691f;border-bottom:1px solid #308230}
#hornav .group-title {border-bottom:4px solid #1f691f;}

/*Mod Wrapper*/
.mod-wrapper h3.header span, .login h1{background:#277627;}
.mod-wrapper h3.header span:before, .login h1:before{border-color: #1a601a #1a601a #1a601a transparent}
.mod-wrapper h3.header span:after, .login h1:after{border-color: #1a601a transparent #1a601a #1a601a}

/*Speaker*/
.sp_speaker_content {background: #277627}
.sp_speaker_content:after {border-right-color: #277627}
.rtl .sp_speaker_content:after {border-left-color: #277627}

/*Event details*/
.schedule span.sctime{background:#277627;color:#fff}
.event-address{color:#033}

/*K2 Blog type Date*/
div.sp-blog-date, div.spk2-blog-date {background:#277627}

/*Ticket Grid*/
.sp-highlight-bar{background:#277627 }
.sp-highlight-bar::after{border-color: #277627 transparent #277627 #277627}
.rtl .sp-highlight-bar::after{border-color: #277627 #277627 #277627 transparent!important}

/*Ticket Price*/
.price-table .price-wrap .price-top{background:url(../../images/styles/style3/price_top.png) no-repeat center bottom}
.price-table .price-wrap .price span, .price-table .price-wrap .buy_link span{color:#277627}


