/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../warp/css/system.css);
@import url(../warp/systems/joomla/css/system.css);
@import url(system-all.css);


/* Items (Addition)
----------------------------------------------------------------------------------------------------*/
 
#system .items .leading .item {
	padding-bottom: 22px;
	margin-bottom: 28px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}


/* Item List
----------------------------------------------------------------------------------------------------*/

#system .item-list { 
	background-position: 50% 0;
	background-repeat: repeat-x;
}