/*
# ------------------------------------------------------------------------
# SlideShow Pro SP2 module for Joomla 2.5
# ------------------------------------------------------------------------
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# Author: JoomShaper.com
# Websites:  http://www.joomshaper.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
.preload{background:url(../images/loading.gif) no-repeat center;visibility:visible;background-color:#fff;z-index:120}
.sp-slide-inner{padding:30px 40px}
img.sp-slide-image{background:#f2f2f2;border:1px solid #fff;float:left;margin:0 10px 0 0;padding:5px}
.sp-slide-desc{overflow:hidden;position:relative}
.sp_slide_prev,.sp_slide_next{width:33px;height:50px;margin-top:-25px;position:absolute;top:50%;z-index:1;cursor:pointer}
.sp_slide_prev{left:0;background:url(../images/prev.png) no-repeat center}
.sp_slide_next{right:0;background:url(../images/next.png) no-repeat center}