/*
# ------------------------------------------------------------------------
# SlideShow Pro SP2 module for Joomla 2.5
# ------------------------------------------------------------------------
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# Author: JoomShaper.com
# Websites:  http://www.joomshaper.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
.preload{background:url(../images/loading.gif) no-repeat center;visibility:visible;background-color:#fff;z-index:120}
.sp-slide-content{overflow:hidden}
.sp-inner{padding:10px}
.image-block{position:absolute}
.sp-slide-desc{background:url(../images/desc-bg.png);right:30px;width:300px}
.controllers{position:absolute;left:30px;bottom:20px;z-index:1}
.controllers span,.controllers .sp-slide_prev,.controllers .sp-slide_next{cursor:pointer;float:left;margin:0 5px}
.controllers span img.sp-slide-thumb{border:4px solid #333}
.controllers span img.sp-slide-thumb:hover,.controllers span.active img.sp-slide-thumb{border:4px solid #777}