/*
# ------------------------------------------------------------------------
# SlideShow Pro SP2 module for Joomla 2.5
# ------------------------------------------------------------------------
# Copyright (C) 2010 - 2012 JoomShaper.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2. CSS / JS are Copyrighted Commercial,
# Author: JoomShaper.com
# Websites:  http://www.joomshaper.com
# Redistribution, Modification or Re-licensing of this file in part of full, 
# is bound by the License applied. 
# ------------------------------------------------------------------------
*/
.sp-slide-content{overflow:hidden}
.sp-inner{padding:10px}
.image-block{position:absolute}
.preload{background:url(../images/loading.gif) no-repeat center;visibility:visible;background-color:#fff;z-index:120}
.sp-slide-desc{background:url(../images/desc-bg.png);right:30px;width:300px}
.controllers{width:100%;height:36px;text-align:center!important;display:inline;position:absolute;bottom:0;background:url(../images/slde-nav-bg.png);z-index:1}
.controllers span,.controllers .sp-slide_prev,.controllers .sp-slide_next{cursor:pointer;width:28px;height:28px;line-height:28px;display:bloack;float:left;text-align:center;background-image:url(../images/style6-buttons.png);background-repeat:no-repeat;color:#333;margin:4px 0}
.controllers span{background-position:0 0}
.controllers span:hover{background-position:0 -28px}
.controllers span.active{background-position:0 -56px;color:#fff}
.controllers .sp-slide_next{background-position:0 -84px}
.controllers .sp-slide_next:hover{background-position:0 -112px}
.controllers .sp-slide_prev{background-position:0 -140px}
.controllers .sp-slide_prev:hover{background-position:0 -168px}